<div *ngIf="!loading">
  <div *ngIf="activeSprint" class="disclaimer">
    <p>This action will close the currently active sprint ({{ activeSprint.name }}).</p>
    <p>Make sure you want to close this sprint before proceeding.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <k-load-button
      type="submit"
      [disabled]="!form.valid || fetching"
      [loading]="fetching"
      label="Submit"
    ></k-load-button>
  </form>
</div>

<mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
