.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff14;
  transition: all ease-in-out 0.2s;

  mat-progress-spinner {
    position: fixed;
    top: 42%;
    right: 45%;
  }
}
