@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

%story-card {
  cursor: grab;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:active {
    cursor: grabbing;
  }

  .contextual-menu-trigger {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

%task-card {
  cursor: grab;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:active {
    cursor: grabbing;
  }

  .contextual-menu-trigger {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview {
  @extend %story-card;
  cursor: grabbing;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.container {
  .board-lanes {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .board-lanes--lane {
      padding: 0 0.5rem;
      overflow: hidden;

      &:nth-child(2) {
        border-left: 1px solid mat-color($accent, darker);
        border-right: 1px solid mat-color($accent, darker);
      }

      .board-lanes--lane--control {
        margin-bottom: 1rem;
        text-align: right;

        mat-button-toggle-group {
          .mat-button-toggle-label-content {
            line-height: 30px !important;
          }
        }
      }

      .board-lanes--lane--content {
        height: 100%;

        .story-container {
          height: 100%;
          display: flex;
          flex-direction: column;

          k-story-card {
            @extend %story-card;
          }
        }

        .task-container {
          height: 100%;
          display: flex;
          flex-direction: column;

          k-task-card {
            @extend %task-card;
          }
        }
      }
    }
  }
}
