<div *ngIf="project && stories" class="container">
  <div class="story-selector">
    <mat-slide-toggle color="accent" [checked]="showTasks" (change)="handleSlider($event)">
      {{ showTasks ? 'Tasks' : 'Stories' }}
    </mat-slide-toggle>
    <!--<div *ngIf="showTasks">
      <label for="story-select"> Select story </label>
      <div class="top-bar-button">
        <input
          id="story-select"
          matInput
          type="text"
          aria-label="Filter tasks by story"
          placeholder="Filter tasks by story"
          [matAutocomplete]="storySelector"
          [formControl]="selectStoryFormControl"
        />
        <mat-autocomplete #storySelector="matAutocomplete" (optionSelected)="handleStorySelection($event)">
          <mat-option *ngFor="let story of allStories" [title]="story.name" [id]="story.id" [value]="story.name">
            {{ story.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>-->
  </div>
  <div class="board-lanes" cdkDropListGroup>
    <div class="board-lanes--lane">
      <div class="board-lanes--lane--control">
        <mat-button-toggle-group name="Story state selector" aria-label="Story state selector" value="NEW">
          <mat-button-toggle value="NEW">New</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div
        id="firstLane"
        [attr.data-state]="'NEW'"
        class="board-lanes--lane--content"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListEnterPredicate]="checkEntry"
        cdkDropList
      >
        <div *ngIf="!showTasks" class="story-container">
          <k-story-card
            *ngFor="let story of stories['NEW']"
            [story]="story"
            [cdkDragData]="story"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: story, task: null }"
            cdkDrag
          ></k-story-card>
        </div>
        <div *ngIf="showTasks" class="task-container">
          <k-task-card
            *ngFor="let task of tasks['NEW']"
            [story]="getStoryByTask(task)"
            [task]="task"
            [cdkDragData]="task"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: null, task: task }"
            cdkDrag
          ></k-task-card>
        </div>
      </div>
    </div>
    <div class="board-lanes--lane">
      <div class="board-lanes--lane--control">
        <mat-button-toggle-group
          name="Story state selector"
          aria-label="Story state selector"
          [(value)]="secondLaneSelectedState"
        >
          <mat-button-toggle value="ONGOING">Ongoing</mat-button-toggle>
          <mat-button-toggle value="BLOCKED">Blocked</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div
        id="secondLane"
        [attr.data-state]="secondLaneSelectedState"
        class="board-lanes--lane--content"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListEnterPredicate]="checkEntry"
        cdkDropList
      >
        <div *ngIf="!showTasks" class="story-container">
          <k-story-card
            *ngFor="let story of stories[secondLaneSelectedState]"
            [story]="story"
            [cdkDragData]="story"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: story, task: null }"
            cdkDrag
          ></k-story-card>
        </div>
        <div *ngIf="showTasks" class="task-container">
          <k-task-card
            *ngFor="let task of tasks[secondLaneSelectedState]"
            [story]="getStoryByTask(task)"
            [task]="task"
            [cdkDragData]="task"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: null, task: task }"
            cdkDrag
          ></k-task-card>
        </div>
      </div>
    </div>
    <div class="board-lanes--lane">
      <div class="board-lanes--lane--control">
        <mat-button-toggle-group name="Story state selector" aria-label="Story state selector" value="FINISHED">
          <mat-button-toggle value="FINISHED">Finished</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div
        id="thirdLane"
        [attr.data-state]="'FINISHED'"
        class="board-lanes--lane--content"
        (cdkDropListDropped)="onDrop($event)"
        [cdkDropListEnterPredicate]="checkEntry"
        cdkDropList
      >
        <div *ngIf="!showTasks" class="story-container">
          <k-story-card
            *ngFor="let story of stories['FINISHED']"
            [story]="story"
            [cdkDragData]="story"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: story, task: null }"
            cdkDrag
          ></k-story-card>
        </div>
        <div *ngIf="showTasks" class="task-container">
          <k-task-card
            *ngFor="let task of tasks['FINISHED']"
            [story]="getStoryByTask(task)"
            [task]="task"
            [cdkDragData]="task"
            [contextMenu]="contextualMenu"
            [contextMenuSubject]="{ story: null, task: task }"
            cdkDrag
          ></k-task-card>
        </div>
      </div>
    </div>
  </div>
</div>

<context-menu>
  <ng-template contextMenuItem (execute)="goToDetails($event?.item)">
    <k-mat-icon icon="view_list"></k-mat-icon>
    <span>Details</span>
  </ng-template>
  <ng-template *ngIf="showTasks" contextMenuItem (execute)="handleAddEntry($event?.item)">
    <k-mat-icon icon="add"></k-mat-icon>
    <span>Add time</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleEdit($event?.item)">
    <k-mat-icon icon="edit"></k-mat-icon>
    <span>Edit</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleDelete($event?.item)">
    <k-mat-icon icon="delete"></k-mat-icon>
    <span>Delete</span>
  </ng-template>
</context-menu>
