<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <div class="avatar-selector">
    <div class="avatar-preview">
      <img [kDefaultImage]="defaultImage" alt="Picture preview" [src]="currentAvatar" />
    </div>
    <input #imageInput type="file" accept="image/*" placeholder="Picture" (change)="uploadImage(imageInput)" />
  </div>
  <div class="form-contents">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <k-load-button
      type="submit"
      [disabled]="!form.valid || fetching"
      [loading]="fetching"
      label="Submit"
    ></k-load-button>
  </div>
</form>

<div *ngIf="loading" class="page-loader">
  <k-page-loader></k-page-loader>
</div>
