form {
  display: flex;

  .avatar-selector {
    width: 25%;

    input {
      max-width: 90px;
    }
  }

  .form-contents {
    width: 75%;
  }
}

.avatar-preview {
  img {
    display: block;
    width: 100px;
    height: auto;
    object-fit: contain;
  }
}

k-load-button {
  padding: 8px;
}
