<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search sprints" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.name || '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration (weeks)</th>
        <td mat-cell *matCellDef="let row">{{ row?.duration || '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let row">{{ row?.active ? 'Yes' : 'No' }}</td>
      </ng-container>
      <ng-container matColumnDef="closed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Closed</th>
        <td mat-cell *matCellDef="let row">{{ row?.closed ? 'Yes' : 'No' }}</td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <k-mat-icon class="icon action-icon" icon="edit" title="Edit sprint" (click)="onEdit(row?.id)"></k-mat-icon>
          <k-mat-icon
            class="icon action-icon"
            icon="delete"
            title="Delete Sprint"
            (click)="onDelete(row?.id)"
          ></k-mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
  </div>
</div>
