<div class="wrapper">
  <circle-progress
    *ngIf="!ready || decoy"
    [showTitle]="showTitle"
    [showSubtitle]="showSubtitle"
    [showUnits]="showUnits"
    [showImage]="showImage"
    [showBackground]="showBackground"
    [showInnerStroke]="showInnerStroke"
    [showZeroOuterStroke]="showZeroOuterStroke"
    maxPercent="100"
    [outerStrokeWidth]="outerStrokeWidth"
    outerStrokeColor="grey"
    [innerStrokeWidth]="innerStrokeWidth"
    innerStrokeColor="grey"
    [space]="space"
    percent="0"
    [radius]="radius"
  ></circle-progress>
  <circle-progress
    *ngIf="ready && !decoy"
    [showTitle]="showTitle"
    [animateTitle]="true"
    [titleColor]="titleColor"
    [titleFontSize]="titleFontSize"
    [showSubtitle]="showSubtitle"
    [showUnits]="showUnits"
    [showImage]="showImage"
    [showBackground]="showBackground"
    [showInnerStroke]="showInnerStroke"
    [showZeroOuterStroke]="showZeroOuterStroke"
    maxPercent="100"
    [outerStrokeWidth]="outerStrokeWidth"
    [outerStrokeColor]="calculatedOuterStrokeColor"
    [innerStrokeWidth]="innerStrokeWidth"
    [innerStrokeColor]="innerStrokeColor"
    [space]="space"
    [percent]="calculatedPercent"
    [radius]="radius"
  ></circle-progress>
</div>
