@import 'src/theme/base/color';

table {
  width: 100%;

  .action-icon {
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:hover {
      color: mat-color($accent);
    }
  }
}
