<div class="container">
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && selectedSprint !== null">
    <div class="topbar">
      <div class="page-title-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          class="page-title-background"
        >
          <polygon points="100,0 100,100 75,100" />
        </svg>
        <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
      </div>
      <div class="buttons-wrapper">
        <div class="sprint-selector">
          <label for="sprint-select"> Select sprint </label>
          <div class="top-bar-button">
            <input
              id="sprint-select"
              matInput
              type="text"
              aria-label="Sprint selector"
              placeholder="Pick a sprint to show"
              [matAutocomplete]="sprintSelector"
              [formControl]="selectSprintFormControl"
            />
            <mat-autocomplete #sprintSelector="matAutocomplete" (optionSelected)="handleSprintSelection($event)">
              <mat-option
                *ngFor="let sprint of getSprintsWithStories()"
                [title]="sprint.name"
                [id]="sprint.id"
                [value]="sprint.name"
              >
                {{ sprint.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="board-lanes" cdkDropListGroup>
        <div class="board-lanes--lane">
          <div class="board-lanes--lane--control">
            <mat-button-toggle-group
              name="Story state selector"
              aria-label="Story state selector"
              [(value)]="firstLaneSelectedState"
            >
              <mat-button-toggle value="NEW">New</mat-button-toggle>
              <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
              <mat-button-toggle value="ONGOING">Ongoing</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div
            id="firstLane"
            [attr.data-state]="firstLaneSelectedState"
            class="board-lanes--lane--content"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListEnterPredicate]="checkEntry"
            cdkDropList
          >
            <k-story-card
              *ngFor="let story of storyRegistry[selectedSprint][firstLaneSelectedState]"
              [story]="story"
              [cdkDragData]="story"
              [contextMenu]="contextualMenu"
              [contextMenuSubject]="story"
              cdkDrag
            ></k-story-card>
          </div>
        </div>
        <div class="board-lanes--lane">
          <div class="board-lanes--lane--control">
            <mat-button-toggle-group
              name="Story state selector"
              aria-label="Story state selector"
              [(value)]="secondLaneSelectedState"
            >
              <mat-button-toggle value="ONGOING">Ongoing</mat-button-toggle>
              <mat-button-toggle value="BLOCKED">Blocked</mat-button-toggle>
              <mat-button-toggle value="REVIEW">Review</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div
            id="secondLane"
            [attr.data-state]="secondLaneSelectedState"
            class="board-lanes--lane--content"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListEnterPredicate]="checkEntry"
            cdkDropList
          >
            <k-story-card
              *ngFor="let story of storyRegistry[selectedSprint][secondLaneSelectedState]"
              [story]="story"
              [cdkDragData]="story"
              [contextMenu]="contextualMenu"
              [contextMenuSubject]="story"
              cdkDrag
            ></k-story-card>
          </div>
        </div>
        <div class="board-lanes--lane">
          <div class="board-lanes--lane--control">
            <mat-button-toggle-group
              name="Story state selector"
              aria-label="Story state selector"
              [(value)]="thirdLaneSelectedState"
            >
              <mat-button-toggle value="BLOCKED">Blocked</mat-button-toggle>
              <mat-button-toggle value="REVIEW">Review</mat-button-toggle>
              <mat-button-toggle value="FINISHED">Finished</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div
            id="thirdLane"
            [attr.data-state]="thirdLaneSelectedState"
            class="board-lanes--lane--content"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListEnterPredicate]="checkEntry"
            cdkDropList
          >
            <k-story-card
              *ngFor="let story of storyRegistry[selectedSprint][thirdLaneSelectedState]"
              [story]="story"
              [cdkDragData]="story"
              [contextMenu]="contextualMenu"
              [contextMenuSubject]="story"
              cdkDrag
            ></k-story-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<context-menu>
  <ng-template contextMenuItem (execute)="goToDetails($event?.item)">
    <k-mat-icon icon="view_list"></k-mat-icon>
    <span>Details</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleAddEntry($event?.item)">
    <k-mat-icon icon="add"></k-mat-icon>
    <span>Add time</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleEdit($event?.item)">
    <k-mat-icon icon="edit"></k-mat-icon>
    <span>Edit</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleDelete($event?.item)">
    <k-mat-icon icon="delete"></k-mat-icon>
    <span>Delete</span>
  </ng-template>
</context-menu>
