<div class="container">
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error && !project.sprintsByProject.nodes?.length">No sprints available yet...</div>
  <div *ngIf="!loading && selectedSprint !== null">
    <div class="topbar">
      <div class="page-title-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          class="page-title-background"
        >
          <polygon points="100,0 100,100 75,100" />
        </svg>
        <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
      </div>
      <div class="buttons-wrapper">
        <div class="sprint-selector">
          <label for="sprint-select"> Select sprint </label>
          <div class="top-bar-button">
            <input
              id="sprint-select"
              matInput
              type="text"
              aria-label="Sprint selector"
              placeholder="Pick a sprint to show"
              [matAutocomplete]="sprintSelector"
              [formControl]="selectSprintFormControl"
            />
            <mat-autocomplete #sprintSelector="matAutocomplete" (optionSelected)="handleSprintSelection($event)">
              <mat-option
                *ngFor="let sprint of sprints | keyvalue"
                [title]="$any(sprint.value)?.name"
                [id]="sprint.key"
                [value]="$any(sprint.value)?.name"
              >
                {{ $any(sprint.value)?.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <button mat-flat-button class="top-bar-button" (click)="openNewSprintDialog()">
          <k-mat-icon icon="add" class="icon create-sprint-icon"></k-mat-icon>
          <span>New</span>
        </button>
      </div>
    </div>
    <div class="main-content">
      <mat-tab-group
        mat-align-tabs="start"
        [(selectedIndex)]="activeTab"
        (selectedTabChange)="handleTabChange($event)"
        dynamicHeight
      >
        <mat-tab label="Details" title="Details">
          <div class="content--details">
            <k-sprint-detail [sprint]="selectedSprint"></k-sprint-detail>
          </div>
        </mat-tab>
        <mat-tab label="Stories" title="Stories">
          <div class="content--active-stories">
            <k-story-list
              *ngIf="activeStoriesForSelectedSprint?.length"
              listTitle="Active"
              [stories]="activeStoriesForSelectedSprint"
              [isListOpen]="true"
              dragNDrop
            ></k-story-list>
            <k-story-list
              *ngIf="inactiveStoriesForSelectedSprint?.length"
              listTitle="Inactive"
              [stories]="inactiveStoriesForSelectedSprint"
              [isListOpen]="!activeStoriesForSelectedSprint?.length"
              dragNDrop
            ></k-story-list>
          </div>
        </mat-tab>
        <mat-tab label="Idle members" title="Idle members" disabled>
          <div class="content--idle-members"></div>
        </mat-tab>
        <mat-tab label="Recent messages" title="Recent messages" disabled>
          <div class="content--recent-messages"></div>
        </mat-tab>
        <mat-tab label="Graphic aids" title="Graphic aids">
          <ng-template matTabContent>
            <div class="content--charts">
              <div class="content--charts--chart burndown-chart">
                <!-- TODO Fix -->
                <!--<k-story-burndown-chart
                  [startDate]="selectedSprint?.start"
                  [deadline]="selectedSprintDeadline"
                  [allStories]="$any(selectedSprint).stories"
                  scope="sprint"
                ></k-story-burndown-chart>-->
              </div>
              <div class="content--charts--chart state-chart">
                <k-story-state-chart [allStories]="$any(selectedSprint).stories"></k-story-state-chart>
              </div>
              <div class="content--charts--chart type-chart">
                <!--                <k-story-task-type-chart [allStories]="$any(selectedSprint).stories"></k-story-task-type-chart>-->
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
