<div *ngIf="task" class="task-card mat-elevation-z2">
  <div class="task-card__name">{{ task.name }}</div>
  <div class="task-card__info">
    <div class="task-card__info__item task-card__task-type">
      <k-task-type-chip [taskType]="task.taskType" variant="icon"></k-task-type-chip>
    </div>
    <div *ngIf="story" class="task-card__info__item task-card__sprint">
      <k-story-chip [storyId]="story.id" [storyName]="story.name"></k-story-chip>
    </div>
    <div *ngIf="task?.userProfileByAssignee" class="task-card__bar__item task-card__assignee">
      <k-avatar
        [picture]="task.userProfileByAssignee?.picture"
        [title]="task?.userProfileByAssignee?.fullName"
      ></k-avatar>
    </div>
  </div>
</div>
