@import 'src/theme/base/color';
@import 'src/theme/utils';

.wrapper {
  @extend %main-transition;
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 2px solid mat-color($foreground, divider);

  &:hover {
    background-color: mat-color($background, hover);
  }
}

.card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr 30px;
  grid-template-areas: 'head' 'main' 'bar';
  //background-color: mat-color($background, card);

  .card-head {
    display: inline-block;
    grid-area: head;
    color: mat-color($primary, darker-contrast);
    background-color: mat-color($primary, darker);
    padding: 0.5em 1em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.card-head--decoy {
      .card-head-name {
        width: 40%;
        height: 40%;
        background-color: rgba(grey, 0.2);
      }

      .card-head-manager {
        width: 80%;
        height: 20%;
        background-color: rgba(grey, 0.2);
      }
    }

    .card-head-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.15em;
    }

    .card-head-role {
      margin-top: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.75rem;
      font-weight: normal;
    }
  }

  .card-main {
    grid-area: main;
    padding: 0.2rem 0.3rem;
    display: flex;

    .card-project-description {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .card-project-start {
        width: 100%;
        padding-left: 1rem;
      }

      .card-project-deadline {
        width: 100%;
        padding-left: 1rem;
      }
    }

    .card-project-progress {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      k-circle-progress {
        height: 48px;
      }
    }
  }

  .card-bar {
    grid-area: bar;
    display: flex;
    border-top: 1px solid mat-color($background, disabled-button);

    .card-bar-item {
      height: 30px;

      &:first-child {
        margin-left: 5px;
      }

      &:not(:first-child) {
        margin-left: 0.75rem;
      }

      span {
        padding-left: 0.1rem;
      }
    }

    k-mat-icon {
      color: mat-color($accent);
    }

    .card-last-story-worked {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
