<div class="wrapper">
  <!--  Fake placeholder for loading-->
  <div *ngIf="loading" class="card clickable">
    <div class="card-head card-head--decoy">
      <div class="card-head-name">
        <span></span>
      </div>
      <div class="card-head-manager">
        <span></span>
      </div>
    </div>
    <div class="card-main">
      <div class="card-project-description">
        <div class="card-project-start">Start date: -/-/-</div>
        <div class="card-project-deadline">Deadline: -/-/-</div>
      </div>
      <div class="card-project-progress">
        <!--        <k-circle-progress-->
        <!--          decoy-->
        <!--          [data]="project"-->
        <!--          [showTitle]="true"-->
        <!--          titleColor="white"-->
        <!--          titleFontSize="15"-->
        <!--          [showSubtitle]="false"-->
        <!--          [showUnits]="false"-->
        <!--          [showImage]="false"-->
        <!--          [showBackground]="false"-->
        <!--          [showInnerStroke]="true"-->
        <!--          [showZeroOuterStroke]="true"-->
        <!--          outerStrokeWidth="4"-->
        <!--          outerStrokeColor="grey"-->
        <!--          innerStrokeWidth="5"-->
        <!--          innerStrokeColor="grey"-->
        <!--          space="-4"-->
        <!--          [percent]="0"-->
        <!--          radius="20"-->
        <!--        ></k-circle-progress>-->
      </div>
    </div>
    <div class="card-bar">
      <div class="card-bar-item card-time" title="Hours spent">
        <k-mat-icon class="icon" icon="schedule"></k-mat-icon>
        <span class="card-time-count">-<sub>h</sub></span>
      </div>
      <div class="card-bar-item card-stories" title="Stories in project">
        <k-mat-icon class="icon card-stories-icon" icon="list"></k-mat-icon>
        <span class="card-stories-count">-</span>
      </div>
      <div class="card-bar-item card-members" title="Members in project">
        <k-mat-icon class="icon card-members-icon" icon="supervised_user_circle"></k-mat-icon>
        <span class="card-members-count">-</span>
      </div>
      <div class="card-bar-item card-current-sprint" title="Current sprint">
        <k-mat-icon class="icon card-current-sprint-icon" icon="timeline"></k-mat-icon>
        <span class="card-sprint-name">-</span>
      </div>
    </div>
  </div>
  <!--  Real card-->
  <div *ngIf="!loading" class="card clickable" [routerLink]="[member.id]">
    <div class="card-head">
      <div class="card-head-name" [title]="member?.fullName">
        <span>{{ member?.fullName }}</span>
      </div>
      <div *ngIf="member?.roleByRole" class="card-head-role" [title]="member.roleByRole.name">
        <span>{{ member.roleByRole.name | titlecase }}</span>
      </div>
    </div>
    <div class="card-main">
      <div class="card-project-description"></div>
      <!--<div class="card-project-progress">
        <k-circle-progress
          *ngIf="burndown && progress != null"
          [data]="project"
          [showTitle]="true"
          titleColor="white"
          titleFontSize="15"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          [outerStrokeColor]="burndown"
          innerStrokeWidth="5"
          innerStrokeColor="grey"
          space="-4"
          [percent]="progress"
          radius="20"
        ></k-circle-progress>
      </div>-->
    </div>
    <div class="card-bar">
      <div *ngIf="lastTimeEntry !== null" class="card-bar-item card-last-story-worked" title="Last story worked">
        <span class="card-last-story-worked-name">{{ 'asd' }}</span>
      </div>
    </div>
  </div>
</div>
