@import 'src/theme/base/color';
@import 'src/theme/base/variables';
@import 'src/theme/utils';

.topnav {
  position: fixed;
  height: $topnav-height;
  padding: 0;
  background-color: mat-color($primary);
  border-bottom: 1px solid mat-color($primary, darker);
  z-index: 2;

  .app-title {
    @extend %main-transition;
    position: absolute;
    top: 50%;
    left: $sidenav-width-open / 2;
    right: auto;
    bottom: 0;
    transform: translate(-50%, -50%);
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .app-logo {
      height: 100%;
    }

    .app-name {
      @extend %main-transition;
      width: 65px;
      font-weight: 900;
      font-style: italic;
      letter-spacing: 1px;
      color: mat-color($foreground, text);
      overflow: hidden;
    }
  }

  .topnav-options {
    @extend %main-transition;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    margin-left: $sidenav-width-open;

    .topnav-option {
      @extend %main-transition;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 25px;
      cursor: pointer;
      font-size: 1em;
      font-weight: 700;
      letter-spacing: 1px;

      &.active {
        border-bottom: 4px solid mat-color($primary, lighter);
      }

      .topnav-icon {
        padding-right: 35px;
      }

      .topnav-option-name {
        letter-spacing: 1px;
      }

      &:hover {
        color: mat-color($foreground, text);
        background-color: mat-color($primary, lighter);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &.sidenav-closed {
    .app-title {
      left: $sidenav-width-closed / 2;

      .app-name {
        width: 0;
      }
    }

    .topnav-options {
      margin-left: $sidenav-width-closed;
    }
  }
}
