<mat-toolbar class="topnav" [class.sidenav-closed]="sidenavLayoutState === 'CLOSED'" role="heading">
  <div class="app-title" routerLink="/home">
    <img alt="Logo" class="app-logo" [src]="logo" />
    <span class="app-name">{{ title }}</span>
  </div>
  <div class="topnav-options">
    <div
      class="topnav-option"
      *ngFor="let option of topnavOptions"
      [routerLink]="option.route"
      routerLinkActive="active"
      matRipple
    >
      <mat-icon class="icon topnav-icon">{{ option.icon }}</mat-icon>
      <span class="option-name topnav-option-name">{{ option.text }}</span>
    </div>
  </div>
</mat-toolbar>
