<k-mat-icon
  *ngIf="taskType && variant === 'icon'"
  [icon]="taskChips[taskType]?.icon"
  [title]="taskType | titlecase"
></k-mat-icon>

<mat-chip-list *ngIf="taskType && variant === 'chip'" selectable="false">
  <mat-chip color="accent">{{ taskChips[taskType]?.label }}</mat-chip>
</mat-chip-list>
