@import 'src/theme/base/color';

table {
  width: 100%;

  /deep/ k-avatar {
    img {
      height: 25px;
    }
  }

  .action-icon {
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:hover {
      color: mat-color($accent);
    }
  }
}
