<div class="container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search members" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="tableSource" matSort>
      <!-- Picture Column -->
      <ng-container matColumnDef="picture" style="width: 10%; min-width: 20px">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <k-avatar [picture]="row?.picture" [title]="row?.fullName"></k-avatar>
        </td>
      </ng-container>

      <!-- Workload Column -->
      <ng-container matColumnDef="workload">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Workload</th>
        <td mat-cell *matCellDef="let row">{{ row?.workload + ' points' }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.fullName }}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">{{ row?.roleByRole?.name | titlecase }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <k-mat-icon
            class="icon action-icon"
            icon="edit"
            title="Edit workload"
            (click)="editWorkload(row?.id)"
          ></k-mat-icon>
          <k-mat-icon
            class="icon action-icon"
            icon="delete"
            title="Delete member"
            (click)="handleDelete(row?.id)"
          ></k-mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
  </div>
</div>
