<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <simplemde class="form-field" title="Input your project description" formControlName="description"></simplemde>
  <k-load-button type="submit" [disabled]="!form.valid || fetching" [loading]="fetching" label="Submit"></k-load-button>
</form>

<div *ngIf="loading" class="page-loader">
  <k-page-loader></k-page-loader>
</div>
