@import "variables";

// Mixins
@mixin container($size-map, $horizontal-padding: 0, $overrides: ()) {
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: $container-vertical-padding $horizontal-padding;

  @media all and (max-width: map_get($bps, 'RT')) {
    box-sizing: content-box;
  }

  @each $bp, $width in map_merge($size-map, $overrides) {
    @media all and (min-width: map_get($bps, $bp)) {
      max-width: $width;
    }
  }
}

// Classes
.container {
  @include container($container, $container-horizontal-padding);
}
