// Roboto
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
  url('src/assets/fonts/roboto/Roboto-Black.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
  url('src/assets/fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
  url('src/assets/fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('src/assets/fonts/roboto/Roboto-Italic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('src/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
  url('src/assets/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('src/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
  url('src/assets/fonts/roboto/Roboto-Thin.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
  url('src/assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
  url('src/assets/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
  url('src/assets/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('src/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('src/assets/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
