$default-font: Roboto;

// Breakpoints
$bps: (
  'RT': 360px,
  'XS': 576px,
  'SM': 768px,
  'MD': 1024px,
  'LG': 1366px
);

// Containers
$container: (
  'RT': 320px,
  'XS': 456px,
  'SM': 690px,
  'MD': 926px,
  'LG': 1240px
);

$container-horizontal-padding: 20px;
$container-vertical-padding: 15px;

$topnav-height: 50px;
$sidenav-width-open: 215px;
$sidenav-width-closed: 55px;
