<div class="wrapper">
  <!--  Fake placeholder for loading-->
  <div *ngIf="loading" class="card clickable">
    <div class="card-head card-head--decoy">
      <div class="card-head-name">
        <span></span>
      </div>
      <div class="card-head-manager">
        <span></span>
      </div>
    </div>
    <div class="card-main">
      <div class="card-project-description">
        <div class="card-project-start">Start date: -/-/-</div>
        <div class="card-project-priority">Priority: -</div>
        <!--        <div class="card-project-deadline">Deadline: -/-/-</div>-->
      </div>
      <div class="card-project-progress">
        <k-circle-progress
          decoy
          [data]="project"
          [showTitle]="true"
          titleColor="white"
          titleFontSize="15"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          outerStrokeColor="grey"
          innerStrokeWidth="5"
          innerStrokeColor="grey"
          space="-4"
          [percent]="0"
          radius="20"
        ></k-circle-progress>
      </div>
    </div>
    <div class="card-bar">
      <div class="card-bar-item card-time" title="Hours spent">
        <k-mat-icon class="icon" icon="schedule"></k-mat-icon>
        <span class="card-time-count">-<sub>h</sub></span>
      </div>
      <div class="card-bar-item card-stories" title="Stories in project">
        <k-mat-icon class="icon card-stories-icon" icon="list"></k-mat-icon>
        <span class="card-stories-count">-</span>
      </div>
      <div class="card-bar-item card-members" title="Members in project">
        <k-mat-icon class="icon card-members-icon" icon="supervised_user_circle"></k-mat-icon>
        <span class="card-members-count">-</span>
      </div>
      <div class="card-bar-item card-current-sprint" title="Current sprint">
        <k-mat-icon class="icon card-current-sprint-icon" icon="timeline"></k-mat-icon>
        <span class="card-sprint-name">-</span>
      </div>
    </div>
  </div>
  <!--  Real card-->
  <div *ngIf="!loading" class="card clickable" [routerLink]="['/management/' + project.id]">
    <div class="card-head">
      <div class="card-head-name" [title]="project?.name">
        <span>{{ project?.name }}</span>
      </div>
      <div *ngIf="manager" class="card-head-manager" [title]="manager">
        <span>{{ manager }}</span>
      </div>
    </div>
    <div class="card-main">
      <div class="card-project-description">
        <div class="card-project-start">Start date: {{ (project?.start | date) || '-/-/-' }}</div>
        <div class="card-project-priority">Priority: {{ (project?.priority | titlecase) || '-' }}</div>
        <!--        <div class="card-project-deadline">Deadline: {{ (project?.deadline | date) || '-/-/-' }}</div>-->
      </div>
      <div class="card-project-progress">
        <k-circle-progress
          *ngIf="project && currentSprint && burndown && progress != null"
          title="Active sprint progress"
          [data]="project"
          [showTitle]="true"
          titleColor="white"
          titleFontSize="15"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          [outerStrokeColor]="burndown"
          innerStrokeWidth="5"
          innerStrokeColor="grey"
          space="-4"
          [percent]="progress"
          radius="20"
        ></k-circle-progress>
      </div>
    </div>
    <div class="card-bar">
      <div *ngIf="consumedHours !== null" class="card-bar-item card-time" title="Hours spent">
        <k-mat-icon class="icon" icon="schedule"></k-mat-icon>
        <span class="card-time-count">{{ consumedHours }}<sub>h</sub></span>
      </div>
      <div
        *ngIf="project?.storiesByProject?.totalCount !== null"
        class="card-bar-item card-stories"
        title="Stories in project"
      >
        <k-mat-icon class="icon card-stories-icon" icon="list"></k-mat-icon>
        <span class="card-stories-count">{{ project?.storiesByProject?.totalCount }}</span>
      </div>
      <div
        *ngIf="project?.membersByProject?.totalCount !== null"
        class="card-bar-item card-members"
        title="Members in project"
      >
        <k-mat-icon class="icon card-members-icon" icon="supervised_user_circle"></k-mat-icon>
        <span class="card-members-count">{{ project.membersByProject.totalCount }}</span>
      </div>
      <div
        *ngIf="currentSprint"
        class="card-bar-item card-current-sprint"
        [title]="'Current sprint: ' + currentSprint.name"
      >
        <k-mat-icon class="icon card-current-sprint-icon" icon="timeline"></k-mat-icon>
        <span class="card-sprint-name">{{ currentSprint.name }}</span>
      </div>
      <div *ngIf="project.repository" class="card-bar-item card-repo" title="Repository">
        <a class="card-repo-link" [href]="project.repository" target="_blank" (click)="$event.stopPropagation()"
          ><img class="card-repo-img" [src]="githubLogo" alt="Github Logo"
        /></a>
      </div>
    </div>
  </div>
</div>
