<div class="container">
  <div class="topbar">
    <div class="page-title-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        class="page-title-background"
      >
        <polygon points="100,0 100,100 75,100" />
      </svg>
      <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
    </div>
    <div class="buttons-wrapper">
      <button mat-flat-button class="top-bar-button" (click)="toggleMode()">
        <k-mat-icon [icon]="mode === 'DISPLAY' ? 'edit' : 'pageview'" class="icon edit-story"></k-mat-icon>
        <span>{{ mode === 'DISPLAY' ? 'Edit' : 'Details' }}</span>
      </button>
      <button mat-flat-button class="top-bar-button" (click)="handleDelete()">
        <k-mat-icon icon="delete" class="icon delete-story"></k-mat-icon>
        <span>Delete</span>
      </button>
      <button mat-flat-button class="top-bar-button" (click)="openNewTaskDialog()">
        <k-mat-icon icon="add" class="icon add-task"></k-mat-icon>
        <span>Task</span>
      </button>
    </div>
  </div>

  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>

  <div *ngIf="mode === 'DISPLAY'" class="main-content">
    <k-story-details *ngIf="story" [story]="story"></k-story-details>
  </div>

  <div *ngIf="mode === 'EDIT'" class="main-content">
    <k-story-form [story]="story" (formSubmitted)="editionSubmitted()"></k-story-form>
  </div>
</div>
