@import 'src/theme/base/variables';
@import 'src/theme/base/color';

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .page-title-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: min-content;
    max-width: 400px;
    height: $topnav-height;
    padding-right: 80px;
    background-color: mat-color($accent, darker);
    color: mat-color($primary);
    font-size: 1.25em;
    font-weight: 500;

    .page-title-background {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      fill: mat-color($background, background);
    }

    .page-title {
      display: inline;
      padding: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.content {
  margin-top: $topnav-height;

  .content--details {
    //max-width: 800px;
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  .content--active-stories {
    padding: 1rem 2rem;
  }

  .content--charts {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;

    .burndown-chart {
      flex: 0 0 100%;
    }

    .state-chart,
    .type-chart {
      flex: 0 0 45%;
      padding: 0 1rem;
    }

    div:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
