<div class="container">
  <ng-template #loading>
    <div class="page-loader">
      <k-page-loader></k-page-loader>
    </div>
  </ng-template>
  <ng-template #error let-error>{{ error }}</ng-template>
  <div *ngxObserve="project$; let project; before: loading; error: error">
    <div class="topbar">
      <div class="page-title-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          class="page-title-background"
        >
          <polygon points="100,0 100,100 75,100" />
        </svg>
        <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
      </div>
    </div>
    <div *ngIf="project" class="content">
      <mat-tab-group mat-align-tabs="center" [selectedIndex]="2" dynamicHeight>
        <mat-tab label="Active stories" title="Active stories">
          <div class="content--active-stories">
            <k-story-list [stories]="activeStories" [isListOpen]="true" dragNDrop></k-story-list>
          </div>
        </mat-tab>
        <mat-tab label="Idle members" title="Idle members" [disabled]="!idleMembers?.length">
          <div class="content--idle-members">
            <k-member-list
              [members]="idleMembers"
              [displayedColumns]="['picture', 'fullName', 'role', 'actions']"
              (memberDeleted)="handleDelete($event)"
              (workloadEdited)="handleEditWorkload($event)"
            ></k-member-list>
          </div>
        </mat-tab>
        <mat-tab *ngIf="false" label="Recent messages" title="Recent messages" disabled>
          <div class="content--recent-messages"></div>
        </mat-tab>
        <mat-tab label="Graphic aids" title="Graphic aids">
          <ng-template matTabContent>
            <div class="content--charts">
              <div *ngIf="project?.sprintsByProject?.totalCount" class="content--charts--chart burndown-chart">
                <k-story-burndown-chart [project]="project"></k-story-burndown-chart>
              </div>
              <div class="content--charts--chart state-chart">
                <k-story-state-chart [allStories]="stories"></k-story-state-chart>
              </div>
              <div class="content--charts--chart type-chart">
                <k-story-task-type-chart [allTasks]="tasks"></k-story-task-type-chart>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Settings" title="Settings">
          <ng-template matTabContent>
            <div class="content--details">
              <k-project-form [project]="project"></k-project-form>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
