<div class="wrapper">
  <div mat-dialog-title class="title">{{ title || '' }}</div>
  <div mat-dialog-content class="confirmation-wrapper">
    <span class="confirmation-text">{{ text }}</span>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button [mat-dialog-close]="false">{{ dialogTexts.reject }}</button>
    <button mat-button [mat-dialog-close]="true">{{ dialogTexts.confirm }}</button>
  </div>
</div>
