<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <div
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListEnterPredicate]="checkEntry"
    id="new-sprint"
    class="dropzone"
  >
    <div *ngIf="!selectedStories.length" class="placeholder">Drop here the stories you want to add</div>
    <div *ngFor="let story of selectedStories">
      <span>{{ story.name }}</span>
    </div>
  </div>
  <k-story-list
    cdkDropList
    (cdkDropListDropped)="onDrop($event)"
    [cdkDropListEnterPredicate]="checkEntry"
    id="backlog"
    *ngIf="!!freeStories?.length"
    listTitle="Backlog"
    [dragNDrop]="false"
    [stories]="freeStories"
    [isListOpen]="true"
  ></k-story-list>
  <k-load-button type="submit" [disabled]="!form.valid || fetching" [loading]="fetching" label="Submit"></k-load-button>
</form>
