k-load-button {
  padding: 8px;
}

.dropzone {
  position: relative;
  min-height: 200px;
  border: 1px dashed white;
  margin: 0.25rem 0.75rem;

  .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.65;
    font-size: 1rem;
  }
}
