@import 'src/theme/base/color';
@import 'src/theme/base/variables';
@import 'src/theme/utils';

.main-sidenav-container {
  @include scrollbar(0.5em, slategrey);
  position: relative;
  top: $topnav-height;
  width: auto;
  height: calc(100% - #{$topnav-height});
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;

  .main-sidenav {
    @extend %main-transition;
    width: $sidenav-width-open;
    background-color: mat-color($background, app-bar);

    .sidenav-options {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      list-style-type: none;

      .sidenav-option {
        flex: 0 0 100%;
        width: 100%;
        font-size: 1em;
        font-weight: 700;
        line-height: 1.25em;
        color: mat-color($primary, lighter);

        .sidenav-link {
          @extend %main-transition;
          position: relative;
          flex: 0 0 100%;
          display: flex;
          align-items: center;
          padding: 10px 15px;
          text-transform: uppercase;
          cursor: pointer;
          overflow: hidden;

          &.active {
            color: mat-color($foreground, text);
            background-color: mat-color($primary);

            &:after {
              width: 2px;
              height: 100%;
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              left: auto;
              bottom: auto;
              background-color: mat-color($accent);
            }
          }

          .sidenav-icon {
            flex: 0 0 auto;
            position: relative;
            padding-right: 35px;
          }

          .sidenav-option-name {
            flex: 1 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            color: mat-color($foreground, text);
            background-color: mat-color($primary, lighter);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .sidenav-toggler {
      @include mat-elevation(24);
      @extend %main-transition;
      position: absolute;
      bottom: 0;
      right: 0;
      //position: fixed;
      //bottom: 0;
      //left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      //width: $sidenav-width-open;
      height: 40px;
      padding: 5px 25px;
      cursor: pointer;

      .sidenav-toggler-icon {
        @extend %main-transition;
        display: inline-block;
        animation: bounce-left 2s infinite;
      }
    }

    &.closed {
      width: $sidenav-width-closed;

      .sidenav-options {
        .sidenav-option {
          .sidenav-link {
            .sidenav-option-name {
              flex: 0 1 0;
              line-height: 0;
            }
          }
        }
      }

      .sidenav-toggler {
        //width: $sidenav-width-closed;

        .sidenav-toggler-icon {
          animation: bounce-right 2s infinite;
        }
      }
    }

    &.shrink {
      width: 0;
      transition: all ease 0.2s;
    }
  }

  .mat-sidenav-content {
    @extend %main-transition;
    display: inline-block;
    width: calc(100% - #{$sidenav-width-open});
    height: auto;
    padding: 0;
    //max-height: 500px;
    //overflow-x: hidden;
    //overflow-y: auto;

    &.sidenav-closed {
      width: calc(100% - #{$sidenav-width-closed});
      margin-left: $sidenav-width-closed !important;
    }

    &.shrink {
      display: block;
      margin: 0 auto !important;
    }
  }

  &.closed {
    /deep/ .page-loader {
      mat-progress-spinner {
        right: calc(50% - 50px);
      }
    }
  }

  &.slim {
    mat-sidenav-content {
      width: calc(100% - #{$sidenav-width-closed});
      margin-left: $sidenav-width-closed !important;
    }

    /deep/ .page-loader {
      mat-progress-spinner {
        right: calc(50% - #{$sidenav-width-closed} + 10px);
      }
    }
  }

  &.fat {
    mat-sidenav-content {
      width: calc(100% - #{$sidenav-width-open});
      margin-left: $sidenav-width-open !important;
    }

    /deep/ .page-loader {
      mat-progress-spinner {
        right: calc(50% - #{$sidenav-width-open} + 80px);
      }
    }
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(0) rotate(180deg);
  }

  50% {
    transform: translateX(15px) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(180deg);
  }
}
