<mat-sidenav-container
  class="main-sidenav-container"
  [class.closed]="isHome"
  [class.slim]="sidenavLayoutState === 'CLOSED' && !isHome"
  [class.fat]="sidenavLayoutState === 'OPEN' && !isHome"
>
  <mat-sidenav
    #navSidenav
    [mode]="sidenavMode"
    position="start"
    class="main-sidenav mat-elevation-z10"
    [class.closed]="sidenavLayoutState === 'CLOSED'"
    [class.shrink]="isHome"
    fixedInViewport
    [opened]="sidenavState"
    [fixedTopGap]="sidenavTopGap"
  >
    <ul class="sidenav-options">
      <li class="sidenav-option" matRipple *ngFor="let option of sidenavOptions" [title]="option?.name">
        <span
          class="sidenav-link"
          [routerLink]="option.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <k-mat-icon class="icon sidenav-icon" [icon]="option.icon"></k-mat-icon>
          <span class="option-name sidenav-option-name">{{ option.name }}</span>
        </span>
      </li>
    </ul>
    <div class="sidenav-toggler" (click)="layout.toggleSidenav()">
      <mat-icon class="sidenav-toggler-icon">double_arrow</mat-icon>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [class.shrink]="isHome" [class.sidenav-closed]="sidenavLayoutState === 'CLOSED'">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
