.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 100px;

  img {
    display: block;
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  k-login-form {
    display: block;
    width: auto;
    max-width: 420px;
    margin: 0 auto;
  }
}
