@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

.container {
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .page-title-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: min-content;
      max-width: 400px;
      height: $topnav-height;
      padding-right: 80px;
      background-color: mat-color($accent, darker);
      color: mat-color($primary);
      font-size: 1.25em;
      font-weight: 500;

      .page-title-background {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        fill: mat-color($background, background);
      }

      .page-title {
        display: inline;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buttons-wrapper {
      display: flex;
      align-items: center;
      margin-left: auto;

      .top-bar-button {
        @extend %main-transition;
        display: flex;
        align-items: center;
        margin: 0 8px;

        &:hover {
          background-color: mat-color($background, hover);
        }

        span {
          display: inline-block;
          padding-left: 8px;
        }
      }
    }
  }

  .main-content {
    max-width: 80%;
    margin: $topnav-height auto 0 auto;
    padding-top: 2rem;

    .task-details {
      > div:not(:first-child) {
        margin-top: 0.3rem;
      }

      .task-details__info__top {
        display: flex;
        align-items: center;

        div:not(:first-child) {
          margin-left: 1.5rem;
        }

        .task-details__task-type {
          display: inline-block;

          & + .task-details__sprint {
            margin-left: 0.75rem;
          }
        }

        .task-details__sprint {
          display: inline-block;
          vertical-align: bottom;
        }

        .task-details__createdAt {
          display: inline-block;
          font-size: 0.85rem;
          font-style: italic;
        }

        .task-details__updatedAt {
          display: inline-block;
          font-size: 0.85rem;
          font-style: italic;
        }
      }

      .task-details__name {
        font-size: 1.25rem;
        font-weight: bold;
      }

      .task-details__date--wrapper {
        div {
          display: inline-block;
          font-size: 0.9rem;

          &:not(:first-child) {
            margin-left: 0.75rem;
          }
        }
      }

      .task-details__info--bottom {
        .task-details__points {
        }
        .task-details__assignee {
        }
        .task-details__state {
        }
      }
    }

    .task-description--wrapper {
      width: calc(60ch + 4rem);
      margin-top: 1.5rem;
      padding: 1rem 2rem;
      border-radius: 5px;
      background-color: mat-color($background, highlight);

      .task-description {
        max-width: 60ch;
        text-align: justify;
      }
    }

    .task-addons {
      margin-top: 1.5rem;
      border-radius: 5px;
      border: 2px solid mat-color($foreground, divider);

      .task-addons--control {
        display: inline-block;
        border-radius: 5px;
        border-bottom: 2px solid mat-color($foreground, divider);
        border-right: 2px solid mat-color($foreground, divider);
      }

      .task-addons--content {
        padding: 1rem 2rem;
      }
    }

    .task-details__tags--wrapper {
      margin-top: 1.5rem;
      font-size: 0.8rem;
      font-style: italic;

      .task-details__tags--title {
        padding-right: 0.3rem;
        font-size: 0.85rem;
        font-weight: bold;
      }

      .task-details__tags--item {
        display: inline-block;

        &:not(:first-of-type) {
          text-transform: lowercase;
        }

        &:not(:last-of-type) {
          span:after {
            display: inline-block;
            content: ',';
            margin-left: -2px;
            padding-right: 0.25rem;
          }
        }
      }
    }
  }
}
