<div class="container">
  <div class="general">
    <k-sprint-form *ngIf="sprint" [sprint]="sprint" [noStories]="true" [disabled]="disabled"></k-sprint-form>
  </div>
  <div class="stories">
    <k-story-list
      *ngIf="stories?.length"
      listTitle="Stories"
      [dragNDrop]="true"
      [isListOpen]="true"
      [stories]="stories"
    ></k-story-list>
  </div>
  <div class="status-panel"></div>
  <div class="members">
    <ul *ngIf="assignees?.length">
      <li *ngFor="let assignee of assignees">{{ assignee.fullName }}</li>
    </ul>
  </div>
</div>
