@import 'src/theme/utils';

button {
  position: relative;

  mat-spinner {
    @extend %main-transition;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: none !important;
  }
}
