<button mat-flat-button [color]="color" [type]="type" [disabled]="disabled" [attr.form]="form">
  <mat-spinner *ngIf="loading" [color]="loaderColor" diameter="25"></mat-spinner>
  {{ label }}
</button>
