* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: $default-font, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  color: mat-color($foreground, text);
  background-color: mat-color($background, background);
}
