%main-transition {
  transition: all 0.2s ease;
}

@mixin scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 4px;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
