<k-topnav *ngIf="!isLoginPage; else login" title="{{ title }}" logo="{{ logo }}"></k-topnav>
<k-sidenav *ngIf="!isLoginPage">
  <router-outlet></router-outlet>
</k-sidenav>

<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
