@import 'src/theme/base/color';

table {
  width: 100%;

  /deep/ k-avatar {
    img {
      width: 20px;
      height: auto;
      object-fit: contain;
    }
  }

  .action-icon {
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:hover {
      color: mat-color($accent);
    }
  }
}
