@import 'src/theme/utils';

.wrapper {
  @extend %main-transition;
  max-width: 200px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(white, 0.7);
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  //cursor: pointer;
  padding: 0 0.5rem;

  /*&:hover {
    background-color: rgba(white, 0.85);
  }*/

  mat-chip {
    display: inline;
    background-color: transparent !important;
    color: inherit !important;
    white-space: nowrap;
    //cursor: pointer;
  }
}
