@import "src/theme/base/variables";

@mixin bp($bp, $mode: 'min') {
  @if map_has_key($bps, $bp) {
    @if ($mode == 'min') {
      @media all and (min-width: map_get($bps, $bp)) {
        @content
      }
    }
    @else if ($mode == 'max') {
      @media all and (max-width: map_get($bps, $bp)-1) {
        @content
      }
    }
    @else {
      @error "$mode must be one of: 'min'/'max'.";
    }
  }
  @else {
    @error "$bp must recieve a valid breakpoint: #{map_keys($bps)}";
  }
}
