@import "src/theme/layout/breakpoints";

form {
  formly-form {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }

  mat-form-field {
    line-height: 1.15em !important;
  }

  .field {
    flex-basis: 100%;
    padding: 0 8px;
  }

  .field-big {
    @include bp('SM') {
      flex-basis: 50%;
    }
    @include bp('MD') {
      flex-basis: 66%;
    }
  }

  .field-medium {
    @include bp('SM') {
      flex-basis: 50%;
    }
  }

  .field-small {
    @include bp('SM') {
      flex-basis: 50%;
    }

    @include bp('MD') {
      flex-basis: 33%;
    }
  }
}
