<div *ngIf="story" class="story-card mat-elevation-z2">
  <div class="story-card__name">{{ story.name }}</div>
  <div class="story-card__info">
    <div *ngIf="false" class="story-card__info__item story-card__task-type">
      <k-task-type-chip [taskType]="story.taskType" variant="icon"></k-task-type-chip>
    </div>
    <div class="story-card__info__item story-card__points">{{ getStoryPoints() }}</div>
    <div class="story-card__info__item story-card__progress">
      <k-circle-progress
        [data]="story"
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [showImage]="false"
        [showBackground]="false"
        [showInnerStroke]="true"
        [showZeroOuterStroke]="true"
        outerStrokeWidth="4"
        outerStrokeColor="blue"
        innerStrokeWidth="4"
        innerStrokeColor="grey"
        space="-4"
        [percent]="getProgressAmount"
        radius="10"
      ></k-circle-progress>
    </div>
    <div *ngIf="story?.userProfileByAssignee" class="story-card__bar__item story-card__assignee">
      <k-avatar
        [picture]="story.userProfileByAssignee?.picture"
        [title]="story?.userProfileByAssignee?.fullName"
      ></k-avatar>
    </div>
  </div>
  <!--<div *ngIf="story?.description" class="story-card__main">
    <div *ngIf="story?.description" class="story-card__description">
      {{ story.description }}
    </div>
  </div>-->
  <!--<div class="story-card__bar">
    <div *ngIf="story?.sprint" class="story-card__bar__item story-card__sprint">
      <k-sprint-chip [sprintId]="story?.sprint" [sprintName]="story?.sprintBySprint?.name"></k-sprint-chip>
    </div>
    <div *ngIf="story?.tagbooksByStory?.nodes.length" class="story-card__bar__item story-card__tags">
      <mat-chip-list class="tags" selectable="false">
        <mat-chip selectable="false" *ngFor="let tagNode of story.tagbooksByStory.nodes">
          {{ tagNode?.tagByTag?.label }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>-->
</div>
