@import 'src/theme/base/color';
@import 'src/theme/utils';

.story-card {
  @extend %main-transition;
  width: 100%;
  //height: 150px;
  border-radius: 3px;
  border: 2px solid mat-color($foreground, divider);
  padding: 0.5rem 0.65rem;

  &:hover {
    background-color: mat-color($background, hover);
  }

  .story-card__name {
    width: 100%;
    max-width: 100%;
    margin: 0.25rem 0 0.6rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.15em;
  }

  .story-card__info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: normal;

    .story-card__info__item {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }

    .story-card__points {
      width: 30px;
      margin-top: 3px;
      padding: 3px;
      border-radius: 25%;
      background-color: mat-color($background, app-bar);
      text-align: center;
    }

    .story-card__progress {
      height: 32px;
    }

    .story-card__assignee {
      margin-left: auto;

      k-avatar {
        display: block;
        width: 28px;
        height: 28px;
      }
    }
  }
}
