<div class="container">
  <div class="buttons-wrapper">
    <button mat-flat-button class="new-project-button" (click)="openNewProjectDialog()">
      <k-mat-icon icon="add" class="icon create-project-icon"></k-mat-icon>
      <span>Project</span>
    </button>
  </div>
  <form [formGroup]="projectFilter">
    <mat-form-field color="accent">
      <mat-label>Filter</mat-label>
      <input
        type="text"
        placeholder="Name of the project"
        aria-label="Filter"
        matInput
        formControlName="filterControl"
      />
    </mat-form-field>
  </form>
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="error">
    {{ error }}
  </div>
  <div *ngIf="!loading && !error" class="dashboard">
    <k-project-card *ngFor="let project of filteredProjects" [project]="project"></k-project-card>
  </div>
</div>
