@import 'src/theme/layout/breakpoints';
@import 'src/theme/base/color';
@import 'src/theme/utils';

.buttons-wrapper {
  width: 100%;
  display: flex;
  margin-left: auto;

  .new-project-button {
    @extend %main-transition;
    display: flex;
    align-items: center;
    margin: 0 8px 0 auto;

    k-mat-icon {
      vertical-align: unset;
    }

    &:hover {
      background-color: mat-color($background, hover);
    }

    span {
      display: inline-block;
      padding-left: 8px;
    }
  }
}

.dashboard {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(350px, 1fr));
  grid-gap: 1rem;
  overflow: hidden;

  @include bp('MD') {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }

  @include bp('LG') {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
}
