@import 'src/theme/base/color';
@import 'src/theme/utils';

$list-background: mat-color($background, card);
$list-item-dark-background: darken($list-background, 5);

%list-item {
  height: auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    background-color: $list-item-dark-background;
    box-shadow: inset 0 0 3px 1px black;
  }

  &.detailsOpen {
    background-color: $list-item-dark-background;
  }

  .contextual-menu-trigger {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .item-content {
    width: 100%;

    .task-data {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      padding-bottom: 6px;

      k-task-type-chip {
        margin-right: 0.5rem;
      }

      .points {
        width: 30px;
        padding: 4px;
        margin-right: 16px;
        border-radius: 25%;
        background-color: mat-color($background, app-bar);
        text-align: center;
      }

      .hours {
        font-size: 0.75rem;
        font-style: italic;

        &:before {
          display: inline;
          content: '-';
          margin: 0 0.25rem;
        }
      }

      k-avatar {
        width: 24px;
        height: 24px;
        margin-left: auto;
      }
    }

    .expansion-panel {
      @extend %main-transition;
      /*display: grid;
      grid-template-areas:
        'left middle right'
        'bottom bottom bottom';*/
      height: 0;
      padding: 0;
      overflow: hidden;
      cursor: default;

      &.open {
        height: auto;
        padding: 16px;
      }

      .left-column {
        grid-area: left;
      }

      .middle-column {
        grid-area: middle;
      }

      .right-column {
        grid-area: right;
      }

      .field {
        .label {
          padding-right: 10px;
          font-size: 1em;
          color: mat-color($accent);
          cursor: text;
        }

        .data {
          font-size: 0.9em;
          cursor: text;
        }

        &.description {
          grid-area: bottom;
          margin-top: 15px;
          padding: 10px;
          background-color: mat-color($background, app-bar);
          cursor: text;
        }
      }

      k-task-list {
        grid-area: bottom;
        margin-top: 15px;
        cursor: text;

        /deep/ mat-list {
          mat-list-item {
            cursor: pointer;
          }
        }
      }
    }
  }
}

%list-item-compact {
  position: relative;
  height: auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:last-child {
    .item-content {
      mat-divider {
        display: none;
      }
    }
  }

  &:before {
    position: absolute;
    content: '>';
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    padding-right: 10px;
  }

  .contextual-menu-trigger {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .item-content {
    width: 100%;

    .task-data {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      padding-bottom: 6px;

      .points {
        width: 30px;
        padding: 4px;
        margin-right: 16px;
        border-radius: 25%;
        background-color: mat-color($background, app-bar);
        text-align: center;
      }

      .name {
        margin-right: 16px;
      }

      k-avatar {
        width: 24px;
        height: 24px;
        margin-left: auto;
      }
    }
  }
}

mat-list {
  @extend %main-transition;
  @include scrollbar(10px, grey);
  height: auto;
  max-height: 50px;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 4px;
  background-color: $list-background;
  overflow: hidden;

  &.open {
    max-height: 100vh;
    overflow-y: auto;
  }

  &.regular {
    border-radius: 4px;
    background-color: $list-background;

    mat-list-item {
      @extend %list-item;
    }
  }

  &.compact {
    mat-list-item {
      @extend %list-item-compact;
    }
  }

  .title {
    padding: 15px;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
}
