<mat-list
  [class.mat-elevation-z1]="variant === 'regular'"
  [class.open]="isListOpen"
  [class.regular]="variant === 'regular'"
  [class.compact]="variant === 'compact'"
>
  <div *ngIf="listTitle" class="title" (click)="toggleList()">{{ listTitle }}</div>
  <mat-list-item *ngFor="let task of tasks" class="flex-wrap" [class.detailsOpen]="openedDetails === task.id">
    <div class="item-content" [contextMenu]="contextualMenu" [contextMenuSubject]="task">
      <div [id]="task.id" class="task-data" (click)="onClickItem($event)">
        <k-task-type-chip *ngIf="task?.taskType" [taskType]="task.taskType" variant="icon"></k-task-type-chip>
        <div class="name">{{ task.name }}</div>
        <div class="hours">{{ !!timeSpent[task.id] ? timeSpent[task.id] : 0 + ' h' }}</div>
        <k-avatar
          *ngIf="task?.userProfileByAssignee"
          [picture]="task.userProfileByAssignee.picture"
          [title]="task?.userProfileByAssignee?.fullName"
        ></k-avatar>
      </div>
      <div class="expansion-panel" [class.open]="openedDetails === task.id" (mousedown)="$event.stopPropagation()">
        <k-task-details *ngIf="openedDetails === task.id" [task]="task" variant="reduced"></k-task-details>
        <!--<div class="left-column">
          <div title="Story ID" class="field id">
            <span class="label">ID</span>
            <span class="data"> {{ task?.id }} </span>
          </div>
          <div title="Story state" class="field state">
            <span class="label">State</span>
            <span class="data"> {{ task?.state | titlecase }} </span>
          </div>
        </div>
        <div class="middle-column">
          <div title="Story date of creation" class="field created">
            <span class="label">Created</span>
            <span class="data">{{ task?.createdAt | date }}</span>
          </div>
          <div title="Story date of last update" class="field updated">
            <span class="label">Updated</span>
            <span class="data">{{ task?.updatedAt | date }}</span>
          </div>
        </div>
        <div *ngIf="task?.description" title="Story markdown description" class="field description">
          {{ task?.description }}
        </div>-->
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list-item>
</mat-list>

<context-menu>
  <ng-template contextMenuItem (execute)="goToDetails($event?.item)">
    <k-mat-icon icon="view_list"></k-mat-icon>
    <span>Details</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleAddEntry($event?.item)">
    <k-mat-icon icon="add"></k-mat-icon>
    <span>Add time</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleEdit($event?.item)">
    <k-mat-icon icon="edit"></k-mat-icon>
    <span>Edit</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleDelete($event?.item)">
    <k-mat-icon icon="delete"></k-mat-icon>
    <span>Delete</span>
  </ng-template>
</context-menu>
