<div class="wrapper">
  <div *ngIf="!withoutNewEntryButton" class="new-time-entry-zone" (click)="openNewTimeEntryDialog()">
    <k-mat-icon icon="add"></k-mat-icon>
  </div>
  <div *ngIf="task?.timeEntriesByTask?.totalCount" class="time-entry-list">
    <div
      *ngFor="let entry of task.timeEntriesByTask.nodes"
      class="time-entry-list--item"
      (click)="openEditTimeEntryDialog(entry)"
    >
      <div *ngIf="entry?.userProfileByAuthor?.fullName" class="item--author">
        {{ entry.userProfileByAuthor.fullName | titlecase }}
      </div>
      <div class="item--details">
        <div *ngIf="entry?.time" class="item--time">{{ entry.time | date }}</div>
        <div *ngIf="entry?.hours" class="item--hours">{{ entry.hours }}<sub>h</sub></div>
        <div *ngIf="false" class="item--progress">{{ entry.progress }}<sub>%</sub></div>
        <div *ngIf="entry?.description" class="item--description">
          <span (click)="preventEditionOnTextSelection($event)">{{ entry.description }}</span>
        </div>
        <!--<div class="item&#45;&#45;edit">
          <button mat-flat-button class="edit-entry-button" (click)="openEditTimeEntryDialog(entry)">
            <k-mat-icon icon="edit" class="icon edit-time-entry"></k-mat-icon>
          </button>
        </div>-->
      </div>
    </div>
  </div>
</div>
