@import 'src/theme/base/color';
@import 'src/theme/utils';

.wrapper {
  .new-time-entry-zone {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid mat-color($foreground, divider);
    border-radius: 4px;
    transition: background-color ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 0.25rem;

    k-mat-icon {
      color: rgba(white, 0.75);
      transition: color ease-in-out 0.2s;
    }

    &:hover {
      background-color: mat-color($foreground, divider);

      k-mat-icon {
        color: mat-color($accent);
      }
    }
  }

  .time-entry-list {
    .time-entry-list--item {
      @extend %main-transition;
      padding: 0.5rem 0.25rem;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background-color: mat-color($background, card);
      }

      &:not(:first-child) {
        &:before {
          display: block;
          content: '';
          height: 1px;
          width: 1rem;
          margin-top: -0.5rem;
          padding-bottom: 0.3rem;
          border-top: 1px solid mat-color($accent);
        }
      }

      .item--author {
        font-size: 0.8rem;
        font-style: italic;
      }

      .item--details {
        > div {
          display: inline-block;
        }

        > div:not(:first-child) {
          margin-left: 0.5rem;

          &:not(.item--edit):before {
            display: inline-block;
            content: '|';
            padding-right: 0.5rem;
          }
        }

        .item--description {
          span {
            cursor: auto;
          }
        }

        .edit-entry-button {
          min-width: 2rem;
          line-height: 1rem;
          padding: 0 0.25rem;
        }
      }
    }
  }
}
