@import 'src/theme/base/color';
@import 'src/theme/utils';

/* Animate items as they're being sorted. */
/deep/ .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
/deep/ .cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

/deep/ .cdk-drag-placeholder {
  opacity: 0;
  display: none;
}

mat-horizontal-stepper {
  background-color: transparent;
}

k-load-button {
  padding: 8px;
}

.step-content {
  padding: 0.25rem;

  .wrapper-top {
    .buttons-wrapper {
      display: flex;
      align-items: center;
      margin-left: auto;

      .top-bar-button {
        @extend %main-transition;
        display: flex;
        align-items: center;
        margin: 0 8px;

        k-mat-icon {
          vertical-align: unset;
        }

        &:hover {
          background-color: mat-color($background, hover);
        }

        span {
          display: inline-block;
          padding-left: 8px;
        }
      }
    }

    .recommendation-disclaimer {
      text-align: center;
    }
  }

  .main-content {
    margin-top: 2rem;

    /deep/ k-story-list {
      display: block;

      &:not(:first-child) {
        margin: 32px 0.75rem 0;
      }
    }

    .unfinished-toggler {
      margin: 0.25rem 0.75rem;
    }

    .dropzone-wrapper {
      margin: 0.25rem 0.75rem;

      .dropzone {
        position: relative;
        min-height: 200px;

        &.empty {
          border: 1px dashed white;
        }

        .placeholder {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.65;
          font-size: 1rem;
        }

        k-story-list {
          margin-top: 1rem;
        }
      }
    }
  }

  .wrapper-bottom {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .create-story-button {
      @extend %main-transition;
      display: flex;
      align-items: center;
      margin: 0 8px;

      k-mat-icon {
        vertical-align: unset;
      }

      &:hover {
        background-color: mat-color($background, hover);
      }

      span {
        display: inline-block;
        padding-left: 8px;
      }
    }
  }

  .confirmation-form {
    text-align: center;

    .disclaimer {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .button-wrapper {
      margin-top: 2rem;
    }
  }
}
