<mat-horizontal-stepper linear #stepper>
  <mat-step
    [completed]="stepOneCompleted"
    [hasError]="stepOneHasError"
    errorMessage="You have to fill all required fields"
  >
    <ng-template matStepLabel>Fill main data</ng-template>
    <div class="step-content">
      <k-sprint-form [delegate]="true" [noStories]="true" (formSubmitted)="onSprintCreated($event)"></k-sprint-form>
      <!--<div>
        <button mat-button matStepperNext>Next</button>
      </div>-->
    </div>
  </mat-step>
  <mat-step
    [completed]="stepTwoCompleted"
    [hasError]="stepTwoHasError"
    errorMessage="You have to select at least one story"
  >
    <ng-template matStepLabel>Select stories</ng-template>
    <div class="step-content">
      <div class="wrapper-top">
        <!--<div class="buttons-wrapper">
          <button mat-flat-button class="top-bar-button" (click)="openNewStoryDialog()">
            <k-mat-icon icon="add" class="icon create-story-icon"></k-mat-icon>
            <span>Story</span>
          </button>
        </div>-->
        <k-new-sprint-points-chart *ngIf="recommendedStoryPoints" [chartData]="chartData"></k-new-sprint-points-chart>
        <div *ngIf="recommendedStoryPoints" class="recommendation-disclaimer">
          <i> The recommendation is based on current team velocity. </i>
        </div>
      </div>
      <div class="main-content">
        <div class="unfinished-toggler">
          <mat-checkbox
            [disabled]="!allowToggleUnfinishedStories && !unfinishedStories.length"
            [checked]="includeUnfinishedStories"
            (change)="toggleUnfinishedStories()"
          >
            Include unfinished stories from previous sprints.
          </mat-checkbox>
        </div>
        <div class="dropzone-wrapper">
          <div
            cdkDropList
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListEnterPredicate]="checkEntry"
            id="dropzone"
            class="dropzone"
            [class.empty]="!storiesForNewSprint.length"
          >
            <div *ngIf="!storiesForNewSprint.length" class="placeholder">
              Drop here the stories you want to add to the sprint
            </div>
            <k-story-list
              *ngIf="storiesForNewSprint.length"
              listTitle="New sprint"
              [isListOpen]="true"
              [withSprintTag]="false"
              [dragNDrop]="false"
              [stories]="storiesForNewSprint"
            ></k-story-list>
          </div>
        </div>
        <k-story-list
          cdkDropList
          id="backlog"
          *ngIf="backlog.length"
          listTitle="Backlog"
          [dragNDrop]="false"
          [stories]="backlog"
          [isListOpen]="true"
        ></k-story-list>
      </div>
      <div class="wrapper-bottom">
        <k-load-button type="button" label="Back" (click)="stepperGoBack()"></k-load-button>
        <k-load-button
          type="button"
          label="Submit"
          [loading]="fetching"
          (click)="processStorySelection()"
        ></k-load-button>
        <button mat-flat-button class="create-story-button" (click)="openNewStoryDialog()">
          <k-mat-icon icon="add" class="icon create-story-icon"></k-mat-icon>
          <span>Story</span>
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step
    [completed]="stepTwoCompleted"
    [hasError]="stepTwoHasError"
    errorMessage="There was an error on sprint creation. Try again."
  >
    <ng-template matStepLabel>Confirm</ng-template>
    <div class="step-content">
      <div class="confirmation-form">
        <span class="disclaimer"
          >Make sure you want to start a new sprint. This will automatically close the previous sprint.</span
        >
        <div class="button-wrapper">
          <k-load-button type="button" label="Back" (click)="stepperGoBack()"></k-load-button>
          <k-load-button
            type="button"
            label="Confirm"
            [loading]="fetching"
            (click)="confirmNewSprint()"
          ></k-load-button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
