<div class="container">
  <div class="topbar">
    <div class="buttons-wrapper">
      <button mat-flat-button class="top-bar-button" (click)="openAddSprintDialog()">
        <k-mat-icon icon="add" class="icon add-sprint-icon"></k-mat-icon>
        <span>Sprints</span>
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error" class="main-content">
    <k-admin-sprints-table
      [sprints]="sprints"
      (handleEdit)="onEdit($event)"
      (handleDelete)="onDelete($event)"
    ></k-admin-sprints-table>
  </div>
</div>
