@import 'src/theme/utils';
@import 'src/theme/base/color';

context-menu-content {
  .ngx-contextmenu {
    @extend %main-transition;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      padding: 0;
      border: 1px solid map-get($mat-grey, 700);
      border-radius: 4px;
      background-color: mat-color($background, background);

      li {
        display: inline-block;
        list-style: none;

        &:not(:last-child) {
          border-bottom: 1px solid map-get($mat-grey, 700);
        }

        a {
          display: inline-block;
          width: 100%;
          padding: 8px 12px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 0.1rem;
          color: mat-color($foreground, text);

          &:hover {
            background-color: rgba(white, 0.1);
          }

          k-mat-icon {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
