@import "src/theme/base/color";

mat-progress-bar {
  &.schedule {
    .mat-progress-bar-background {
      fill: grey;
    }
    .mat-progress-bar-buffer {
      background-color: grey;
    }

    &.in-time {
      .mat-progress-bar-fill:after {
        background-color: mat-color($success);
      }
    }

    &.on-the-limit {
      .mat-progress-bar-fill:after {
        background-color: mat-color($mild-warn);
      }
    }

    &.behind {
      .mat-progress-bar-fill:after {
        background-color: mat-color($warn);
      }
    }
  }
}
