@import 'src/theme/base/color';

simplemde {
  &.disabled {
    pointer-events: none;

    .editor-toolbar {
      border-color: grey;
    }

    .CodeMirror-wrap {
      border-color: grey;
    }
  }

  .editor-toolbar {
    .smdi {
      color: mat-color($accent) !important;

      &:hover {
        background-color: mat-color($background, background);
      }

      &.active {
        background-color: mat-color($background, background);
        border-color: mat-color($accent);
      }
    }

    &.disabled-for-preview {
      .smdi:not(.no-disable) {
        &, &:hover {
          background-color: mat-color($background, background);
          opacity: 0.25;
        }
      }
    }
  }

  &.preview-only {
    .editor-toolbar {
      display: none;
    }

    .CodeMirror {
      width: 100%;
      margin-top: 1.5rem;
      padding: 2rem;
      border-radius: 5px;
      border-color: transparent;
      background-color: mat-color($background, highlight);

      div:first-child {
        display: none;
      }

      .CodeMirror-vscrollbar {
        display: none !important;
      }

      .CodeMirror-hscrollbar {
        display: none;
      }

      .CodeMirror-scrollbar-filler {
        display: none;
      }

      .CodeMirror-gutter-filler {
        display: none;
      }

      .CodeMirror-scroll {
        display: none;
      }

      .editor-preview {
        position: relative;
        max-width: 60ch;
        padding: 0;
        text-align: justify;
        background-color: transparent;
        color: white;
        margin: 0 auto;
      }
    }

    .editor-statusbar {
      display: none;
    }
  }

  &.form-field {
    display: block;
    padding: 0 8px;

    .CodeMirror-wrap {
      color: white;
      caret-color: white;
      background-color: mat-color($background, background);

      .CodeMirror-cursor {
        border-color: white;
      }
    }

    .editor-preview {
      background-color: mat-color($background, background);
    }
  }
}
