<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <div *ngIf="wrongCredentials" class="mat-error">The username or password are invalid.</div>
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <k-load-button type="submit" [disabled]="!form.valid || fetching" [loading]="fetching" label="Login"></k-load-button>
</form>
