<div class="container">
  <div class="topbar">
    <div class="page-title-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        class="page-title-background"
      >
        <polygon points="100,0 100,100 75,100" />
      </svg>
      <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
    </div>
    <div class="buttons-wrapper">
      <button mat-flat-button class="top-bar-button" (click)="openNewStoryDialog()">
        <k-mat-icon icon="add" class="icon create-story-icon"></k-mat-icon>
        <span>Story</span>
      </button>
      <button mat-flat-button class="top-bar-button" (click)="goToNewSprint()">
        <k-mat-icon icon="add" class="icon create-sprint-icon"></k-mat-icon>
        <span>Sprint</span>
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error" cdkDropListGroup class="main-content">
    <div *ngIf="!stories?.length">No stories available yet...</div>
    <k-story-list
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListEnterPredicate]="checkEntry"
      [id]="currentSprint.sprint.id"
      *ngIf="!loading && !error && !!currentSprint?.stories?.length"
      [listTitle]="currentSprint?.sprint?.name"
      [dragNDrop]="false"
      [stories]="currentSprint.stories"
      class="active-sprint"
    ></k-story-list>
    <!--<k-story-list
      *ngFor="let item of otherSprints | keyvalue"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListEnterPredicate]="checkEntry"
      [id]="item.key"
      [listTitle]="item.value?.sprint?.name + ' - ' + item.value?.points + ' story points'"
      [dragNDrop]="false"
      [stories]="item.value?.stories"
    ></k-story-list>-->
    <k-story-list
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [cdkDropListEnterPredicate]="checkEntry"
      id="backlog"
      *ngIf="!loading && !error && !!freeStories?.length"
      listTitle="Backlog"
      [dragNDrop]="false"
      [stories]="freeStories"
      [isListOpen]="true"
    ></k-story-list>
  </div>
</div>
