@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

$list-background: mat-color($background, card);
$list-item-dark-background: darken(mat-color($background, card), 5);

%list-item {
  height: auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:hover {
    background-color: $list-item-dark-background;
    box-shadow: inset 0 0 3px 1px black;
  }

  &.detailsOpen {
    background-color: $list-item-dark-background;
  }

  .contextual-menu-trigger {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .item-content {
    width: 100%;

    mat-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
    }

    .story-data {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 10px;
      padding-bottom: 6px;

      k-task-type-chip {
        margin-right: 16px;
      }

      .points {
        width: 30px;
        padding: 4px;
        margin-right: 16px;
        border-radius: 25%;
        background-color: mat-color($background, app-bar);
        text-align: center;
      }

      k-circle-progress {
        margin-right: 16px;
      }

      .name {
        margin-right: 16px;
      }

      .tags {
        margin-left: auto;

        & + k-avatar {
          margin-left: 16px;
        }
      }

      k-avatar {
        width: 24px;
        height: 24px;
        margin-left: auto;
      }
    }

    .expansion-panel {
      @extend %main-transition;
      /*display: grid;
      grid-template-areas:
        'left middle right'
        'bottom bottom bottom';*/
      height: 0;
      padding: 0;
      overflow: hidden;
      cursor: default;

      &.open {
        height: auto;
        padding: 16px;
      }

      .left-column {
        grid-area: left;
      }

      .middle-column {
        grid-area: middle;
      }

      .right-column {
        grid-area: right;
      }

      .field {
        .label {
          padding-right: 10px;
          font-size: 1em;
          color: mat-color($accent);
          cursor: text;
        }

        .data {
          font-size: 0.9em;
          cursor: text;
        }

        &.description {
          grid-area: bottom;
          margin-top: 15px;
          padding: 10px;
          background-color: mat-color($background, app-bar);
          cursor: text;
        }
      }

      k-task-list {
        grid-area: bottom;
        margin-top: 15px;
        cursor: text;

        /deep/ mat-list {
          mat-list-item {
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Animate items as they're being sorted. */
/deep/ .cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
/deep/ .cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

/deep/ .cdk-drag-placeholder {
  opacity: 0;
}

/deep/ .cdk-drag-preview {
  @extend %list-item;
  cursor: grabbing;
  background-color: $list-item-dark-background;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.container {
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .page-title-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: min-content;
      max-width: 400px;
      height: $topnav-height;
      padding-right: 80px;
      background-color: mat-color($accent, darker);
      color: mat-color($primary);
      font-size: 1.25em;
      font-weight: 500;

      .page-title-background {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        fill: mat-color($background, background);
      }

      .page-title {
        display: inline;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buttons-wrapper {
      display: flex;
      margin-left: auto;

      .top-bar-button {
        @extend %main-transition;
        display: flex;
        align-items: center;
        margin: 0 8px;

        k-mat-icon {
          vertical-align: unset;
        }

        &:hover {
          background-color: mat-color($background, hover);
        }

        span {
          display: inline-block;
          padding-left: 8px;
        }
      }
    }
  }

  .main-content {
    margin-top: $topnav-height;

    k-story-list {
      position: relative;
      display: block;

      &:not(:first-child) {
        margin-top: 32px;
      }

      &.active-sprint:before {
        position: absolute;
        height: 1rem;
        width: 3rem;
        content: 'Active';
        border: 1px solid mat-color($accent);
        padding: 3px 5px;
        line-height: 1rem;
        text-align: center;
        top: 25px;
        right: 20px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
