@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

///* Animate items as they're being sorted. */
//.cdk-drop-list-dragging .cdk-drag {
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}
//
///* Animate an item that has been dropped. */
//.cdk-drag-animating {
//  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
//}
//
//.cdk-drag-placeholder {
//  opacity: 0;
//}
//
//.cdk-drag-preview {
//  display: none;
//  opacity: 0;
//}

.container {
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .page-title-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: min-content;
      max-width: 400px;
      height: $topnav-height;
      padding-right: 80px;
      background-color: mat-color($accent, darker);
      color: mat-color($primary);
      font-size: 1.25em;
      font-weight: 500;

      .page-title-background {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        fill: mat-color($background, background);
      }

      .page-title {
        display: inline;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buttons-wrapper {
      display: flex;
      align-items: center;
      margin-left: auto;

      .top-bar-button {
        @extend %main-transition;
        display: flex;
        align-items: center;
        margin: 0 8px;

        k-mat-icon {
          vertical-align: unset;
        }

        &:hover {
          background-color: mat-color($background, hover);
        }

        span {
          display: inline-block;
          padding-left: 8px;
        }
      }
    }
  }

  .main-content {
    margin-top: $topnav-height;

    /*k-story-list {
      display: block;

      &:not(:first-child) {
        margin-top: 32px;
      }
    }*/
  }
}

/*k-load-button {
  padding: 8px;
}

.dropzone-wrapper {
  margin: 0.25rem 0.75rem;

  .dropzone {
    position: relative;
    min-height: 200px;

    &.empty {
      border: 1px dashed white;
    }

    .placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.65;
      font-size: 1rem;
    }
  }
}*/
