<div class="container">
  <div class="topbar">
    <div class="page-title-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        class="page-title-background"
      >
        <polygon points="100,0 100,100 75,100" />
      </svg>
      <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
    </div>
    <!--<div class="buttons-wrapper">
      <button mat-flat-button class="top-bar-button" (click)="openNewStoryDialog()">
        <k-mat-icon icon="add" class="icon create-story-icon"></k-mat-icon>
        <span>Story</span>
      </button>
      <k-load-button
        type="submit"
        form="new-sprint-form"
        [disabled]="!form.valid || fetching"
        [loading]="fetching"
        label="Submit"
      ></k-load-button>
    </div>-->
  </div>
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error" class="main-content" cdkDropListGroup>
    <!--<form id="new-sprint-form" [formGroup]="form" (ngSubmit)="onSubmit(model)">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <div class="previous-stories-check">
        <mat-checkbox
          [disabled]="!prevUnfinishedStories.length"
          [checked]="includePrevUnfinishedStories"
          (change)="togglePrevStories()"
        >
          Include unfinished stories from previous sprints (this will add {{ prevUnfinishedStoriesPoints }} story points
          to the sprint)
        </mat-checkbox>
      </div>
      <div class="dropzone-wrapper">
        <div class="stats-wrapper">
          <div class="current-story-points">
            <span>Story points: </span><span>{{ getCurrentlySelectedStoryPoints() }}</span>
          </div>
          <div class="recommended-story-points">
            <span>Recommended story points based on velocity: </span><span>{{ velocity }}</span>
          </div>
        </div>
        <div
          cdkDropList
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListEnterPredicate]="checkEntry"
          id="dropzone"
          class="dropzone"
          [class.empty]="!selectedStories.length"
        >
          <div *ngIf="!selectedStories.length" class="placeholder">Drop here the stories you want to add</div>
          <k-story-list
            *ngIf="selectedStories.length"
            [isListOpen]="true"
            [withSprintTag]="false"
            [dragNDrop]="false"
            [stories]="selectedStories"
          ></k-story-list>
        </div>
      </div>
      <k-story-list
        cdkDropList
        id="backlog"
        *ngIf="backlog.length"
        listTitle="Backlog"
        [dragNDrop]="false"
        [stories]="backlog"
        [isListOpen]="true"
      ></k-story-list>
    </form>-->
    <k-new-sprint-stepper [project]="project"></k-new-sprint-stepper>
  </div>
</div>
