<div class="container">
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error">
    <div class="topbar">
      <div class="page-title-wrapper">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 100"
          preserveAspectRatio="none"
          class="page-title-background"
        >
          <polygon points="100,0 100,100 75,100" />
        </svg>
        <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
      </div>
      <div class="buttons-wrapper"></div>
    </div>
    <div class="main-content">
      <div *ngIf="!this.availableSprints?.length">No closed sprints yet...</div>
      <div *ngIf="this.activeSprint">
        <mat-form-field>
          <mat-label>Sprint selection</mat-label>
          <mat-select [(value)]="activeSprintBinder" (selectionChange)="handleSprintChange()">
            <mat-option *ngFor="let sprint of availableSprints" [value]="sprint.id">
              {{ sprint.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-tab-group
          mat-align-tabs="center"
          [(selectedIndex)]="activeTab"
          (selectedTabChange)="handleTabChange($event)"
          dynamicHeight
        >
          <!--<mat-tab label="Board" title="Board">
            <ng-template matTabContent>
              <k-active-board
                [project]="project"
                [sprint]="activeSprint"
                [stories]="storiesByStatus"
                [tasks]="tasksByStatus"
              ></k-active-board>
            </ng-template>
          </mat-tab>-->
          <mat-tab label="Stories" title="Stories">
            <div class="content--active-stories">
              <k-story-list
                *ngIf="storiesByStatus['NEW']?.length"
                listTitle="New"
                [stories]="storiesByStatus['NEW']"
                [defaultSprint]="activeSprint"
                [isListOpen]="true"
                dragNDrop
              ></k-story-list>
              <k-story-list
                *ngIf="storiesByStatus['ONGOING']?.length"
                listTitle="Ongoing"
                [stories]="storiesByStatus['ONGOING']"
                [defaultSprint]="activeSprint"
                [isListOpen]="true"
                dragNDrop
              ></k-story-list>
              <k-story-list
                *ngIf="storiesByStatus['BLOCKED']?.length"
                listTitle="Blocked"
                [stories]="storiesByStatus['BLOCKED']"
                [defaultSprint]="activeSprint"
                [isListOpen]="true"
                dragNDrop
              ></k-story-list>
              <k-story-list
                *ngIf="storiesByStatus['FINISHED']?.length"
                listTitle="Finished"
                [stories]="storiesByStatus['FINISHED']"
                [defaultSprint]="activeSprint"
                [isListOpen]="true"
                dragNDrop
              ></k-story-list>
            </div>
          </mat-tab>
          <mat-tab *ngIf="false" label="Recent messages" title="Recent messages" disabled>
            <div class="content--recent-messages"></div>
          </mat-tab>
          <mat-tab label="Graphic aids" title="Graphic aids">
            <ng-template matTabContent>
              <div class="content--charts">
                <div class="content--charts--chart burndown-chart">
                  <k-story-burndown-chart
                    *ngIf="activeSprint"
                    [sprint]="activeSprint"
                    scope="sprint"
                  ></k-story-burndown-chart>
                </div>
                <div *ngIf="sprintStories.length" class="content--charts--chart state-chart">
                  <k-story-state-chart [allStories]="sprintStories"></k-story-state-chart>
                </div>
                <div *ngIf="sprintStories.length" class="content--charts--chart type-chart">
                  <k-story-task-type-chart [allTasks]="sprintTasks"></k-story-task-type-chart>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Settings" title="Settings">
            <ng-template matTabContent>
              <div class="content--details">
                <k-sprint-detail [sprint]="activeSprint" [disabled]="true"></k-sprint-detail>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
