@import 'src/theme/layout/breakpoints';
@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

.container {
  .topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .page-title-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: min-content;
      max-width: 400px;
      height: $topnav-height;
      padding-right: 80px;
      background-color: mat-color($accent, darker);
      color: mat-color($primary);
      font-size: 1.25em;
      font-weight: 500;

      .page-title-background {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        fill: mat-color($background, background);
      }

      .page-title {
        display: inline;
        padding: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buttons-wrapper {
      display: flex;
      margin-left: auto;

      .top-bar-button {
        @extend %main-transition;
        display: flex;
        align-items: center;
        margin: 0 8px;

        k-mat-icon {
          vertical-align: unset;
        }

        &:hover {
          background-color: mat-color($background, hover);
        }

        span {
          display: inline-block;
          padding-left: 8px;
        }
      }
    }
  }

  .main-content {
    max-width: 100%;
    overflow: hidden;
    margin-top: $topnav-height;
  }
}
