<div class="container">
  <div class="topbar">
    <div class="page-title-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        class="page-title-background"
      >
        <polygon points="100,0 100,100 75,100" />
      </svg>
      <div class="page-title" [title]="project?.name || '...'">{{ project?.name || '...' }}</div>
    </div>
    <div class="buttons-wrapper">
      <button mat-flat-button class="top-bar-button" (click)="openAddMembersDialog()">
        <k-mat-icon icon="add" class="icon add-member-icon"></k-mat-icon>
        <span>Members</span>
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error && !project">No members yet...</div>
  <div class="main-content">
    <k-member-list
      *ngIf="members.length"
      [members]="members"
      (memberDeleted)="handleDelete($event)"
      (workloadEdited)="handleEditWorkload($event)"
    ></k-member-list>
  </div>
</div>
