<div class="wrapper">
  <div class="story-details">
    <div *ngIf="story && variant === 'regular'" class="story-details__info__top">
      <div *ngIf="story?.sprint" class="story-details__sprint">
        <k-sprint-chip [sprintId]="story.sprint" [sprintName]="story?.sprintBySprint?.name"></k-sprint-chip>
      </div>
      <div class="story-details__points">
        <div class="points" title="Story points">{{ story.points || 0 }}</div>
      </div>
      <div class="story-details__progress">
        <k-circle-progress
          [data]="story"
          [showTitle]="false"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          outerStrokeColor="blue"
          innerStrokeWidth="4"
          innerStrokeColor="grey"
          space="-4"
          [percent]="getProgressAmount"
          radius="10"
        ></k-circle-progress>
      </div>
      <div *ngIf="false" class="story-details__task-type">
        <k-task-type-chip [taskType]="story.taskType" variant="icon"></k-task-type-chip>
      </div>
      <div *ngIf="false" class="story-details__createdAt" [title]="'Created ' + story.createdAt | timeago: true">
        Created {{ story.createdAt | timeago: true }}
      </div>
      <div *ngIf="false" class="story-details__updatedAt" [title]="'Updated ' + story.updatedAt | timeago: true">
        Updated {{ story.updatedAt | timeago: true }}
      </div>
    </div>
    <div *ngIf="story && variant === 'regular'" class="story-details__info__top">
      <div class="story-details__name">
        <div class="name">{{ story.name }}</div>
      </div>
    </div>
    <div class="story-details__info--bottom">
      <div *ngIf="story?.state" class="story-details__state">
        <span>
          State: <strong>{{ story.state | titlecase }}</strong></span
        >
      </div>
      <div *ngIf="story?.assignee" class="story-details__assignee">
        <span>
          Assignee: <strong>{{ story?.userProfileByAssignee?.fullName | titlecase }}</strong>
        </span>
      </div>
      <div
        *ngIf="story && variant === 'regular' && story?.tagbooksByStory?.totalCount"
        class="story-details__tags--wrapper"
      >
        <span class="story-details__tags--title"> Tags: </span>
        <div *ngFor="let tag of story.tagbooksByStory.nodes" class="story-details__tags--item">
          <span *ngIf="tag?.tagByTag?.label">
            {{ tag.tagByTag.label }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="story-description--wrapper">
    <simplemde
      *ngIf="!disableDescription"
      [id]="'simplemde-' + story.id"
      title="Story description"
      class="preview-only"
      [(ngModel)]="mdeDescriptionContent"
    ></simplemde>
  </div>
  <div *ngIf="false" class="story-addons">
    <div class="story-addons--content">
      <div class="story-tasks">
        <k-task-list
          *ngIf="story?.tasksByStory?.totalCount"
          listTitle="Task list"
          [tasks]="story.tasksByStory.nodes"
          [isListOpen]="true"
        ></k-task-list>
      </div>
    </div>
  </div>
  <div *ngIf="story?.tasksByStory?.totalCount" class="story-tasks">
    <k-task-list
      *ngIf="story?.tasksByStory?.totalCount"
      listTitle="Task list"
      [class.nested]="variant === 'reduced'"
      [tasks]="story.tasksByStory.nodes"
      [isListOpen]="true"
    ></k-task-list>
  </div>
</div>
