@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

$list-nested-background: lighten(mat-color($background, card), 5);
$list-nested-item-dark-background: darken($list-nested-background, 5);

.wrapper {
  .story-details {
    > div:not(:first-child) {
      margin-top: 0.3rem;
    }

    .story-details__sprint {
      display: flex;
      font-size: 0.5rem;
    }

    .story-details__name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .story-details__info__top {
      display: flex;
      align-items: center;

      div:not(:first-child) {
        margin-left: 0.5rem;
      }

      .story-details__points {
        .points {
          width: 30px;
          padding: 4px;
          border-radius: 25%;
          background-color: mat-color($background, app-bar);
          text-align: center;
        }
      }

      .story-details__task-type {
        display: inline-block;

        & + .story-details__sprint {
          margin-left: 0.75rem;
        }
      }

      .story-details__createdAt {
        display: inline-block;
        font-size: 0.85rem;
        font-style: italic;
      }

      .story-details__updatedAt {
        display: inline-block;
        font-size: 0.85rem;
        font-style: italic;
      }
    }

    .story-details__date--wrapper {
      div {
        display: inline-block;
        font-size: 0.9rem;

        &:not(:first-child) {
          margin-left: 0.75rem;
        }
      }
    }

    .story-details__info--bottom {
      .story-details__points {
      }
      .story-details__assignee {
      }
      .story-details__state {
      }
    }
  }

  .story-description--wrapper {
    margin-top: 1.5rem;
  }

  .story-addons {
    margin-top: 1.5rem;
    border-radius: 5px;
    border: 2px solid mat-color($foreground, divider);

    .story-addons--control {
      display: inline-block;
      border-radius: 5px;
      border-bottom: 2px solid mat-color($foreground, divider);
      border-right: 2px solid mat-color($foreground, divider);
    }

    .story-addons--content {
      padding: 1rem 2rem;
    }
  }

  .story-tasks {
    margin-top: 1.5rem;

    /deep/ k-task-list.nested {
      mat-list {
        background-color: $list-nested-background;

        mat-list-item {
          &:hover {
            background-color: $list-nested-background;
          }

          &.detailsOpen {
            background-color: $list-nested-background;
          }

          .CodeMirror-wrap {
            background-color: lighten(mat-color($background, background), 1);
          }
        }
      }
    }
  }

  .story-details__tags--wrapper {
    font-size: 0.8rem;
    font-style: italic;

    .story-details__tags--title {
      padding-right: 0.3rem;
      font-size: 0.85rem;
    }

    .story-details__tags--item {
      display: inline-block;

      &:not(:first-of-type) {
        text-transform: lowercase;
      }

      &:not(:last-of-type) {
        span:after {
          display: inline-block;
          content: ',';
          margin-left: -2px;
          padding-right: 0.25rem;
        }
      }
    }
  }
}
