@import 'src/theme/layout/breakpoints';
@import 'src/theme/base/color';
@import 'src/theme/utils';

.container {
  .main-content {
    .section {
      margin-top: 2rem;

      &:not(:first-child) {
        margin-top: 4rem;
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }

    .section-title {
      border-bottom: 2px solid mat-color($accent);
      font-size: 2rem;
      line-height: 2.5rem;
      padding-left: 2rem;
    }

    .empty-notice {
      padding: 1rem 1.5rem;
    }

    .items {
      @include scrollbar(10px, grey);
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 10px;
    }

    .projects-at-risk {
      .items {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, minmax(350px, 1fr));
        grid-gap: 1rem;
        margin-top: 1rem;

        @include bp('MD') {
          grid-template-columns: repeat(2, minmax(350px, 1fr));
        }

        @include bp('LG') {
          grid-template-columns: repeat(3, minmax(350px, 1fr));
        }
      }
    }

    .idle-devs {
      .items {
        width: 920px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        .person {
          width: 300px;
        }
      }
    }

    .blocked-stories {
      .items {
        margin-top: 1rem;
      }
    }
  }
}
