<div class="container">
  <div *ngIf="loading" class="page-loader">
    <k-page-loader></k-page-loader>
  </div>
  <div *ngIf="!loading && error">{{ error }}</div>
  <div *ngIf="!loading && !error" class="main-content">
    <div class="section projects-at-risk">
      <div class="section-title">Projects behind schedule</div>
      <div *ngIf="!projects.length" class="empty-notice"><i>No projects behind schedule...</i></div>
      <div class="items">
        <k-project-dash-card *ngFor="let project of projects" [project]="project"></k-project-dash-card>
      </div>
    </div>
    <mat-list class="section idle-devs">
      <div class="section-title">Idle developers</div>
      <div *ngIf="!people.length" class="empty-notice"><i>No idle developers...</i></div>
      <div class="items">
        <mat-list-item *ngFor="let person of people" class="person">
          <k-avatar [picture]="person.picture" mat-list-icon></k-avatar>
          <div mat-line>{{ person.fullName }}</div>
        </mat-list-item>
      </div>
    </mat-list>
    <div class="section blocked-stories">
      <div class="section-title">Blocked stories</div>
      <div *ngIf="!stories.length" class="empty-notice"><i>No blocked stories...</i></div>
      <div class="items">
        <k-story-dash-list
          *ngIf="stories.length"
          [dragNDrop]="false"
          [stories]="stories"
          [withSprintTag]="true"
        ></k-story-dash-list>
      </div>
    </div>
  </div>
</div>
