<mat-list
  *ngIf="dragNDrop"
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  class="mat-elevation-z1"
  [class.open]="isListOpen"
>
  <div *ngIf="listTitle" class="title" (click)="toggleList()">{{ listTitle }}</div>
  <mat-list-item
    *ngFor="let story of stories"
    cdkDrag
    [cdkDragData]="story"
    class="flex-wrap"
    [class.detailsOpen]="openedDetails === story.id"
  >
    <div class="item-content" [contextMenu]="contextualMenu" [contextMenuSubject]="story">
      <div [id]="story.id" class="story-data" (click)="onClickItem($event)">
        <k-task-type-chip *ngIf="false" [taskType]="story.taskType" variant="icon"></k-task-type-chip>
        <div class="points" title="Story points">{{ story.points || 0 }}</div>
        <k-circle-progress
          [data]="story"
          [showTitle]="false"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          innerStrokeWidth="4"
          innerStrokeColor="grey"
          space="-4"
          radius="10"
        ></k-circle-progress>
        <div class="name">{{ story.name }}</div>
        <k-sprint-chip
          *ngIf="withSprintTag && story?.sprint"
          [sprintId]="story?.sprint"
          [sprintName]="story?.sprintBySprint?.name"
        ></k-sprint-chip>
        <mat-chip-list *ngIf="story?.tagbooksByStory?.nodes.length" class="tags" selectable="false">
          <mat-chip selectable="false" *ngFor="let tagNode of story.tagbooksByStory.nodes">
            {{ tagNode?.tagByTag?.label }}
          </mat-chip>
        </mat-chip-list>
        <k-avatar
          *ngIf="story?.userProfileByAssignee"
          [picture]="story.userProfileByAssignee.picture"
          [title]="story?.userProfileByAssignee?.fullName"
        ></k-avatar>
      </div>
      <div class="expansion-panel" [class.open]="openedDetails === story.id" (mousedown)="$event.stopPropagation()">
        <!--        <div class="left-column">
          <div title="Story ID" class="field id">
            <span class="label">ID</span>
            <span class="data"> {{ story?.id }} </span>
          </div>
          <div title="Story state" class="field state">
            <span class="label">State</span>
            <span class="data"> {{ story?.state | titlecase }} </span>
          </div>
        </div>
        <div class="middle-column">
          <div title="Story date of creation" class="field created">
            <span class="label">Created</span>
            <span class="data">{{ story?.createdAt | date }}</span>
          </div>
          <div title="Story date of last update" class="field updated">
            <span class="label">Updated</span>
            <span class="data">{{ story?.updatedAt | date }}</span>
          </div>
        </div>
        <div *ngIf="story?.description" title="Story markdown description" class="field description">
          {{ story?.description }}
        </div>-->
        <k-story-details *ngIf="openedDetails === story.id" [story]="story" variant="reduced"></k-story-details>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list-item>
</mat-list>

<mat-list *ngIf="!dragNDrop" class="mat-elevation-z1" [class.open]="isListOpen">
  <div *ngIf="listTitle" class="title" (click)="toggleList()">{{ listTitle }}</div>
  <mat-list-item
    *ngFor="let story of stories"
    cdkDrag
    [cdkDragData]="story"
    class="flex-wrap"
    [class.detailsOpen]="openedDetails === story.id"
  >
    <div class="item-content" [contextMenu]="contextualMenu" [contextMenuSubject]="story">
      <div [id]="story.id" class="story-data" (click)="onClickItem($event)">
        <k-task-type-chip *ngIf="false" [taskType]="story.taskType" variant="icon"></k-task-type-chip>
        <div class="points" title="Story points">{{ story.points || 0 }}</div>
        <k-circle-progress
          [data]="story"
          [showTitle]="false"
          [showSubtitle]="false"
          [showUnits]="false"
          [showImage]="false"
          [showBackground]="false"
          [showInnerStroke]="true"
          [showZeroOuterStroke]="true"
          outerStrokeWidth="4"
          outerStrokeColor="blue"
          innerStrokeWidth="4"
          innerStrokeColor="grey"
          space="-4"
          [percent]="getProgressAmount"
          radius="10"
        ></k-circle-progress>
        <div class="name">{{ story.name }}</div>
        <k-sprint-chip
          *ngIf="withSprintTag && story?.sprint && story?.sprintBySprint?.name"
          [sprintId]="story?.sprint"
          [sprintName]="story?.sprintBySprint?.name"
        ></k-sprint-chip>
        <mat-chip-list *ngIf="story?.tagbooksByStory?.nodes.length" class="tags" selectable="false">
          <mat-chip selectable="false" *ngFor="let tagNode of story.tagbooksByStory.nodes">
            {{ tagNode?.tagByTag?.label }}
          </mat-chip>
        </mat-chip-list>
        <k-avatar
          *ngIf="story?.userProfileByAssignee"
          [picture]="story.userProfileByAssignee.picture"
          [title]="story?.userProfileByAssignee?.fullName"
        ></k-avatar>
      </div>
      <div class="expansion-panel" [class.open]="openedDetails === story.id" (mousedown)="$event.stopPropagation()">
        <!--<div class="left-column">
          <div title="Story ID" class="field id">
            <span class="label">ID</span>
            <span class="data"> {{ story?.id }} </span>
          </div>
          <div title="Story state" class="field state">
            <span class="label">State</span>
            <span class="data"> {{ story?.state | titlecase }} </span>
          </div>
        </div>
        <div class="middle-column">
          <div title="Story date of creation" class="field created">
            <span class="label">Created</span>
            <span class="data">{{ story?.createdAt | date }}</span>
          </div>
          <div title="Story date of last update" class="field updated">
            <span class="label">Updated</span>
            <span class="data">{{ story?.updatedAt | date }}</span>
          </div>
        </div>
        <div *ngIf="story?.description" title="Story markdown description" class="field description">
          {{ story?.description }}
        </div>
        <k-task-list
          *ngIf="story.tasksByStory?.totalCount"
          [tasks]="story.tasksByStory.nodes"
          [isListOpen]="true"
          variant="compact"
        ></k-task-list>-->
        <k-story-details *ngIf="openedDetails === story.id" [story]="story" variant="reduced"></k-story-details>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list-item>
</mat-list>

<context-menu>
  <ng-template contextMenuItem (execute)="goToDetails($event?.item)">
    <k-mat-icon icon="view_list"></k-mat-icon>
    <span>Details</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleAddTask($event?.item)">
    <k-mat-icon icon="add"></k-mat-icon>
    <span>Add task</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleEdit($event?.item)">
    <k-mat-icon icon="edit"></k-mat-icon>
    <span>Edit</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="handleDelete($event?.item)">
    <k-mat-icon icon="delete"></k-mat-icon>
    <span>Delete</span>
  </ng-template>
</context-menu>
