@import 'src/theme/base/color';
@import 'src/theme/utils';

.wrapper {
  width: 85ch;
  margin: 0 auto;

  mat-progress-spinner {
    margin: 0 auto;
  }

  .comment-list {
    @include scrollbar(10px, grey);
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;

    .comment {
      display: flex;

      &:not(:first-child) {
        margin-top: 1rem;
        border-top: 1px dashed rgba(mat-color($accent), 0.3);
        padding-top: 1rem;
      }

      .avatar {
        width: 50px;

        k-avatar {
          display: block;
          padding: 0.25rem;

          /deep/ img {
            display: block;
            width: 40px;
            height: auto;
            object-fit: contain;
          }
        }
      }

      .info {
        display: block;
        width: calc(100% - 50px);
        margin: 0 auto;

        .info-top {
          display: flex;
          font-size: 0.75rem;
          line-height: 1rem;
          font-style: italic;

          .info-top--timeago:before {
            display: inline-block;
            content: '';
            margin-left: 0.75rem;
            margin-right: 0.5rem;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: mat-color($accent);
            vertical-align: middle;
          }
        }

        .info-main {
          font-size: 0.95rem;
          line-height: 1.25rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .new-comment-zone {
    margin-top: 1.5rem;

    mat-form-field {
      width: 100%;
    }

    /deep/ k-load-button {
      display: block;
      margin-top: -10px;

      button {
        display: block;
        font-size: 0.8rem;
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        margin-left: auto;
      }
    }
  }
}
