<div class="wrapper">
  <div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" color="primary" diameter="50"></mat-progress-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="comment-list">
      <div *ngFor="let comment of comments" class="comment">
        <div class="avatar">
          <k-avatar [picture]="comment.userProfileByAuthor.picture"></k-avatar>
        </div>
        <div class="info">
          <div class="info-top">
            <div class="info-top--author">
              {{ comment.userProfileByAuthor.fullName }}
            </div>
            <div class="info-top--timeago">
              {{ comment.createdAt | timeago: true }}
            </div>
          </div>
          <div class="info-main">
            {{ comment.content }}
          </div>
        </div>
      </div>
    </div>
    <div class="new-comment-zone">
      <mat-form-field appearance="outline">
        <textarea #newComment matInput placeholder="Share your thoughts..." rows="3" cdkTextareaAutosize></textarea>
      </mat-form-field>
      <k-load-button
        type="button"
        [disabled]="fetching"
        [loading]="fetching"
        label="Submit"
        (click)="handleCommentCreation(newComment)"
      ></k-load-button>
    </div>
  </div>
</div>
