<div class="wrapper">
  <div class="task-details">
    <div *ngIf="task && variant === 'regular'" class="task-details__info__top">
      <div class="task-details__task-type">
        <k-task-type-chip [taskType]="task.taskType" variant="icon"></k-task-type-chip>
      </div>
      <div *ngIf="task?.sprint" class="task-details__sprint">
        <k-sprint-chip [sprintId]="task.sprint" [sprintName]="task?.sprintBySprint?.name"></k-sprint-chip>
      </div>
      <div *ngIf="task?.story" class="task-details__story">
        <k-story-chip [storyId]="task.story" [storyName]="task?.storyByStory?.name"></k-story-chip>
      </div>
      <div *ngIf="false" class="task-details__createdAt" [title]="'Created ' + task.createdAt | timeago: true">
        Created {{ task.createdAt | timeago: true }}
      </div>
      <div *ngIf="false" class="task-details__updatedAt" [title]="'Updated ' + task.updatedAt | timeago: true">
        Updated {{ task.updatedAt | timeago: true }}
      </div>
    </div>
    <div *ngIf="task && variant === 'regular'" class="task-details__info__top">
      <div class="task-details__name">
        <div class="name">{{ task.name }}</div>
      </div>
    </div>
    <div class="task-details__info--bottom">
      <div *ngIf="task?.state" class="task-details__state">
        <span>
          State: <strong>{{ task.state | titlecase }}</strong></span
        >
      </div>
      <div class="task-details__assignee">
        <span *ngIf="task?.assignee">
          Assignee: <strong>{{ task?.userProfileByAssignee?.fullName | titlecase }}</strong>
        </span>
        <span *ngIf="!task?.assignee"> Assignee: <i>Not assigned</i> </span>
      </div>
    </div>
  </div>
  <div class="task-description--wrapper">
    <simplemde
      *ngIf="!disableDescription"
      [id]="'simplemde-' + task.id"
      title="Task description"
      class="preview-only"
      [(ngModel)]="mdeDescriptionContent"
    ></simplemde>
  </div>
  <div *ngIf="variant === 'regular'" class="task-addons">
    <div class="task-addons--control">
      <mat-button-toggle-group name="Task addon selector" aria-label="Task addon selector" [(value)]="activeAddon">
        <mat-button-toggle value="TIME_ENTRIES" title="Time entries">
          <k-mat-icon icon="hourglass_empty"></k-mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="COMMENTS" title="Comments">
          <k-mat-icon icon="comment"></k-mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="task-addons--content">
      <div [hidden]="activeAddon === 'COMMENTS'" class="task-times">
        <div class="task-total-time">
          <i>
            Total time spent: <strong>{{ getTimeSpent() }}h</strong>
          </i>
        </div>
        <k-time-entry-list class="task-times--list" [task]="task"></k-time-entry-list>
      </div>
      <div [hidden]="activeAddon === 'TIME_ENTRIES'" class="task-messages">
        <k-chat [task]="task"></k-chat>
      </div>
    </div>
  </div>
</div>
