@import 'src/theme/base/variables';
@import 'src/theme/base/color';
@import 'src/theme/utils';

.wrapper {
  .task-details {
    > div:not(:first-child) {
      margin-top: 0.3rem;
    }

    .task-details__sprint {
      display: flex;
      font-size: 0.5rem;
    }

    .task-details__name {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    .task-details__info__top {
      display: flex;
      align-items: center;

      div:not(:first-child) {
        margin-left: 0.5rem;
      }

      .task-details__points {
        .points {
          width: 30px;
          padding: 4px;
          border-radius: 25%;
          background-color: mat-color($background, app-bar);
          text-align: center;
        }
      }

      .task-details__task-type {
        display: inline-block;

        & + .task-details__sprint {
          margin-left: 0.75rem;
        }

        /deep/ k-mat-icon {
          mat-icon {
            height: 30px;
            width: 30px;
            font-size: 30px;
          }
        }
      }

      .task-details__createdAt {
        display: inline-block;
        font-size: 0.85rem;
        font-style: italic;
      }

      .task-details__updatedAt {
        display: inline-block;
        font-size: 0.85rem;
        font-style: italic;
      }
    }

    .task-details__date--wrapper {
      div {
        display: inline-block;
        font-size: 0.9rem;

        &:not(:first-child) {
          margin-left: 0.75rem;
        }
      }
    }

    .task-details__info--bottom {
      .task-details__points {
      }
      .task-details__assignee {
      }
      .task-details__state {
      }
    }
  }

  .task-description--wrapper {
    margin-top: 1.5rem;
  }

  .task-addons {
    position: relative;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: 2px solid mat-color($foreground, divider);

    .task-addons--control {
      display: inline-block;
      border-radius: 5px;
      border-bottom: 2px solid mat-color($foreground, divider);
      border-right: 2px solid mat-color($foreground, divider);
    }

    .task-addons--content {
      padding: 1rem 2rem;

      .task-times {
        .task-total-time {
          position: absolute;
          top: 10px;
          right: 20px;
        }
      }
    }
  }
}
