<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <k-load-button type="submit" [disabled]="!form.valid || loading" [loading]="loading" label="Submit"></k-load-button>
</form>
